<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?ver=1.1">
</head>
<body class="small-bg">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
        </div>
        <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-tp1-content">
                <div class="hf-tp1-nav-wrap">
                    <h1>Where would you like to go?</h1>
                    <ul class="hf-tp1-nav">
                        <li>
                            <a href="2.html">
                                <span class="hf-tp1-nav-bg"><span></span><span></span></span>
                                <span class="hf-tp1-nav-text">Financial Products</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="digital-assets.html">
                                <span class="hf-tp1-nav-bg"><span></span><span></span></span>
                                <span class="hf-tp1-nav-text">Digital Assets</span>
                            </a>
                        </li>
                        <li>
                            <a href="financial-literacy.html">
                                <span class="hf-tp1-nav-bg"><span></span><span></span></span>
                                <span class="hf-tp1-nav-text">Financial Literacy</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="compliance.html">
                                <span class="hf-tp1-nav-bg"><span></span><span></span></span>
                                <span class="hf-tp1-nav-text">Compliance</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hf-tp1-characters-wrap">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>Meet the Hyfins</p>
                    </div>
                    <div class="hf-tp1-characters">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/710708712?muted=1&autoplay=1&autopause=0&loop=1&background=1" frameborder="0" allow="autoplay; loop; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2023 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">

    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>