<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
</head>
<body class="hf-bg-solid hf-t10">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">FX CFD Game</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
            <ul class="hf-main-menu">
                <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
            </ul>
            <div class="hf-header-icons">
                <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                <div class="hf-hicon-menu">
                    <div class="hf-menu-btn" id="hf-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div hidden id="expired" class="hf-myacc-wrap hf-frame">
                <!-- My account form Wrap Start -->
                <div class="hf-myacc">
                    <!-- My account Form Start -->
                    <div class="hf-form hf-myacc-form">
                        <div class="hf-form-inner">
                            <header class="hf-form-header" style="justify-content: center; display: flex;">
                                <div style="margin-top: 100px" class="hf-form-header-text">
                                    <h3 class="hf-form-title" style="text-align: left">Your session is expired. Reload
                                        page to try again</h3>
                                </div>
                                <a href="/rules">
                                    <div style="height: 128px; width: 128px; margin-top: 20px; background-size: cover; background-image: url('./assets/images/refresh.png')"
                                         class="hf-form-header-text">
                                    </div>
                                </a>
                            </header>
                        </div>
                    </div>
                    <!-- My account Form End -->
                </div>
                <!-- My account form Wrap End -->

                <!-- frames start -->
                <span class="hf-frame-tl"></span>
                <span class="hf-frame-tr"></span>
                <span class="hf-frame-bl"></span>
                <span class="hf-frame-br"></span>
                <!-- frames end -->
            </div>
            <!-- Carousel Wrap Start -->
            <div id="gameBlock" class="hf-carousel-wrap">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- Carousel Item 1 Start -->
                            <div class="swiper-slide">
                                <div class="hf-quiz">
                                    <h3 th class="hf-quiz-question"/>
                                    <th th:text="${QuestionText}"></th>
                                    <th th:text="${QuestionPolyMorph}"></th>
                                    <br></br>
                                    <div class="hf-quiz-options">
                                        <ul class="hf-selectable-options">
                                                <li th:each="answer : ${answers}" th:id="${answer}" th:field="*{answer}"
                                                    th:onclick="'setData(\''+${questionId}+ '\', \''+${answer}+ '\');'"
                                                    name="${answer}" class="th-loop-li"><span><th
                                                        th:text="${answer}"></th> </span></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 1 End -->
                            <!-- Carousel Item 1 Start -->
                            <!-- Carousel Item 1 End -->
                            <!-- Carousel Item 2 Start -->
                            <div class="swiper-slide">
                                <div class="hf-graph">
                                    <h3 class="hf-graph-title">You are <strong>USD</strong> bullish.<br>
                                        Indicate whether you expect the future movement to go up or down?</h3>
                                    <div class="hf-graph-img-wrap">
                                        <div class="hf-graph-img">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483 276">
                                                <g data-name="Group 7">
                                                    <text data-name="100 80 60 40 20 0" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="17.038" y="15">100</tspan>
                                                        <tspan x="24.526" y="56">80</tspan>
                                                        <tspan x="25.012" y="97">60</tspan>
                                                        <tspan x="25.066" y="138">40</tspan>
                                                        <tspan x="24.85" y="179">20</tspan>
                                                        <tspan x="34.93" y="220">0</tspan>
                                                    </text>
                                                    <text transform="translate(106 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="3.646" y="15">FEB</tspan>
                                                    </text>
                                                    <text transform="translate(50 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="3.574" y="15">JAN</tspan>
                                                    </text>
                                                    <text transform="translate(162 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x=".334" y="15">MAR</tspan>
                                                    </text>
                                                    <text transform="translate(218 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="2.278" y="15">APR</tspan>
                                                    </text>
                                                    <text transform="translate(274 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="1.153" y="15">MAY</tspan>
                                                    </text>
                                                    <text transform="translate(330 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="3.07" y="15">JUN</tspan>
                                                    </text>
                                                    <text transform="translate(387 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x="4.888" y="15">JUL</tspan>
                                                    </text>
                                                    <text transform="translate(443 232)" fill="#d2d2d9" font-size="18"
                                                          font-family="CeraPro-Regular, Cera Pro">
                                                        <tspan x=".343" y="15">AUG</tspan>
                                                    </text>
                                                    <path data-name="Fill 167" d="M56 5h423V4H56z" fill="#41425e"/>
                                                    <path data-name="Fill 168" d="M56 47v-1h423v1H56" fill="#41425e"/>
                                                    <path data-name="Fill 169" d="M56 88h423v-1H56z" fill="#41425e"/>
                                                    <path data-name="Fill 170" d="M56 131h423v-1H56z" fill="#41425e"/>
                                                    <path data-name="Fill 171" d="M56 173v-1h423v1H56" fill="#41425e"/>
                                                    <path data-name="Fill 172" d="M56 214h423v-1H56z" fill="#41425e"/>
                                                    <path data-name="Fill 1387"
                                                          d="M177.947 129.607 118.838 161 59 129.221l1.221-3.281 58.617 31.13 59.346-31.516 58.86 43.842 58.474-73.99L355.676 42l59.3 44.4L473.4 42.652l1.6 3.04-60.026 44.95-59.154-44.297L297.522 98.1 237.541 174z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1426"
                                                          d="M184 128c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.91-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1427"
                                                          d="M177 138c-4.963 0-9-4.709-9-10.5s4.037-10.5 9-10.5 9 4.712 9 10.5-4.037 10.5-9 10.5zm0-17.241c-3.186 0-5.778 3.025-5.778 6.744s2.592 6.737 5.778 6.737 5.778-3.022 5.778-6.737-2.592-6.744-5.778-6.744z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1428"
                                                          d="M243 172c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.91-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1429"
                                                          d="M236 182c-4.963 0-9-4.712-9-10.5s4.037-10.5 9-10.5 9 4.709 9 10.5-4.037 10.5-9 10.5zm0-17.241c-3.186 0-5.778 3.022-5.778 6.737s2.592 6.744 5.778 6.744 5.778-3.025 5.778-6.744-2.592-6.737-5.778-6.737z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1422"
                                                          d="M66 128c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.91-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1423"
                                                          d="M60 138c-4.963 0-9-4.709-9-10.5s4.037-10.5 9-10.5 9 4.712 9 10.5-4.037 10.5-9 10.5zm0-17.241c-3.186 0-5.778 3.025-5.778 6.744s2.592 6.737 5.778 6.737 5.778-3.022 5.778-6.737-2.592-6.744-5.778-6.744z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1424"
                                                          d="M125 159c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.909-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1425"
                                                          d="M118 170c-4.963 0-9-4.712-9-10.5s4.037-10.5 9-10.5 9 4.709 9 10.5-4.037 10.5-9 10.5zm0-17.241c-3.186 0-5.778 3.022-5.778 6.737s2.592 6.744 5.778 6.744 5.778-3.025 5.778-6.744-2.592-6.737-5.778-6.737z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1430"
                                                          d="M303 97c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.911-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1431"
                                                          d="M296 108c-4.963 0-9-4.71-9-10.5s4.037-10.5 9-10.5 9 4.71 9 10.5-4.037 10.5-9 10.5zm0-17.246c-3.186 0-5.778 3.026-5.778 6.746s2.592 6.746 5.778 6.746 5.778-3.026 5.778-6.745-2.592-6.747-5.778-6.747z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1432"
                                                          d="M361 45c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.91-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1433"
                                                          d="M356 54c-4.963 0-9-4.709-9-10.5s4.037-10.5 9-10.5 9 4.712 9 10.5-4.037 10.5-9 10.5zm0-17.241c-3.186 0-5.778 3.025-5.778 6.744s2.592 6.737 5.778 6.737 5.778-3.022 5.778-6.737-2.592-6.744-5.778-6.744z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1434"
                                                          d="M421 88c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.91-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1435"
                                                          d="M415 99c-4.963 0-9-4.71-9-10.5s4.037-10.5 9-10.5 9 4.71 9 10.5-4.037 10.5-9 10.5zm0-17.246c-3.186 0-5.778 3.026-5.778 6.746s2.592 6.746 5.778 6.746 5.778-3.026 5.778-6.745-2.592-6.747-5.778-6.747z"
                                                          fill="#ff6900"/>
                                                    <path data-name="Fill 1436"
                                                          d="M480 45c0 4.418-2.91 8-6.5 8s-6.5-3.582-6.5-8 2.911-8 6.5-8 6.5 3.582 6.5 8"
                                                          fill="#1d1f40"/>
                                                    <path data-name="Fill 1437"
                                                          d="M474 54c-4.963 0-9-4.709-9-10.5s4.037-10.5 9-10.5 9 4.712 9 10.5-4.037 10.5-9 10.5zm0-17.241c-3.186 0-5.778 3.025-5.778 6.744s2.592 6.737 5.778 6.737 5.778-3.022 5.778-6.737-2.592-6.744-5.778-6.744z"
                                                          fill="#ff6900"/>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="hf-graph-icons">
                                            <button class="hf-graph-icon">
                                                <img src="./assets/images/icon-up-1.svg" alt="">
                                            </button>
                                            <button class="hf-graph-icon">
                                                <img src="./assets/images/icon-down-1.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 2 End -->
                        </div>
                    </div>
                    <!-- Carousel Navigation and pagination start -->
                    <form class="hf-button span" name="prev-next-form2" id="prev-next-form2" role="form"
                          th:action="@{/NextGame}" method="POST">
                        <input hidden="true" name="answer" id="answerInput" value="default">
                        <input hidden="true" name="questionId" id="questionIdInput" th:value="${questionId}">
                        <button id="submitButton" class="hf-button" onclick="setClicked(); document.getElementById('submitButton').setAttribute('disabled', 'true'); document.getElementById('prev-next-form2').submit()"><span>Next</span></button>
                    </form>
                    <!-- Carousel Navigation and pagination end -->
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>

    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2023 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="4.html"><img src="./assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="./assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });

    function setData(id, answer){
        document.getElementById('questionIdInput').value = id;
        document.getElementById('answerInput').value = answer;
    }


    var nextButtonClicked = false;

    function setClicked(){
        console.log('setClicked func()');

        nextButtonClicked = true;
    }

    window.addEventListener("beforeunload", function (e) {
        if (nextButtonClicked == false) {
            console.log('nextButton NOT clicked, LEAVE event sent');
            const rawResponse = fetch('/game/event?eventType=LEAVE',
                {
                    method: 'POST',
                }
            );
        } else {
            console.log('nextButton clicked');
        }
    });

    function submitAnswer(answer) {
        var url = "/Answer";
        $.ajax({
            url: url,
            type: "POST",
            data: {
                "answer": answer
            },
            success: function (data) {
                console.log(data);
            },
            error: function () {
                console.log("There was an error");
            }
        });

    }

</script>
<script>
    let intervalId = window.setInterval(function(){
        fetch('/game/session/expired', {
            method: 'GET',
        })
        .then(
            function(response) {
                response.json().then(function(data) {
                    console.log(data);
                    if (data == true) {
                    console.log('EXPIRED!!!!!!!!!');
                        document.getElementById('gameBlock').setAttribute('hidden', 'hidden')
                        document.getElementById('expired').removeAttribute('hidden')
                        window.clearInterval(intervalId);
                    } else {
                                            console.log('session is ok))))))))');
                    }
                })
            }
        );
    }, 2000);

</script>


</body>
</html>