<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 13: New password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
</head>
<body class="hf-bg-solid">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
        </div>
        <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-reset-pass-outer hf-new-pass-outer">
                <div class="hf-reset-pass-wrap hf-frame">
                    <!-- Reset password form Wrap Start -->
                    <div class="hf-reset-pass">
                        <!-- Reset password Form Start -->
                        <form class="hf-form hf-reset-pass-form" id="passwordForm" method="post" action="/apply-new-password">
                            <div class="hf-form-inner">
                                <header class="hf-form-header">
                                    <div class="hf-form-header-text">
                                        <h3 class="hf-form-title">Reset password</h3>
                                        <p>Please create a new password below.</p>
                                    </div>
                                </header>
                                <div class="hf-form-row hf-fr-col1">
                                    <div class="hf-form-field">
                                        <label for="newPassword">New password</label>
                                        <input onclick="hideWarnings()" type="password" id="newPassword" name="newPassword">
                                    </div>
                                </div>
                                <div class="hf-form-row hf-fr-col1">
                                    <div class="hf-form-field">
                                        <label  for="confirmNewPassword">Confirm new password</label>
                                        <input onclick="hideWarnings()" type="password" id="confirmNewPassword" name="confirmNewPassword">
                                    </div>
                                </div>
                                <div id="warning" hidden>
                                    <p style="font-size: 12px; color: red;">Passwords don't match! Try again</p>
                                </div>
                                <div id="warning2" hidden>
                                    <p style="font-size: 12px; color: red;">Please fill both inputs</p>
                                </div>
                                <div class="hf-form-row hf-fr-submit">
                                    <button class="hf-button hf-button-right" type="button" onclick="checkPasswords()"><span>Create password</span></button>
                                </div>
                            </div>
                        </form>
                        <!-- Reset password Form End -->
                    </div>
                    <!-- Reset password form Wrap End -->

                    <!-- frames start -->
                    <span class="hf-frame-tl"></span>
                    <span class="hf-frame-tr"></span>
                    <span class="hf-frame-bl"></span>
                    <span class="hf-frame-br"></span>
                    <!-- frames end -->
                </div>
                <figure class="hf-reset-pass-image">
                    <img src="./assets/images/reset-pass.png">
                </figure>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2023 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-home">
            <a href="1.html"><img src="./assets/images/icon-home.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>

<script>
    function checkPasswords() {
        var newPassword = document.getElementById('newPassword').value;
        var confirmNewPassword = document.getElementById('confirmNewPassword').value;

        if (newPassword == "" || confirmNewPassword == "") {
            showWarning2();
            return;
        }

        if (newPassword != confirmNewPassword) {
            showWarning();
            return;
        }

        document.getElementById('passwordForm').submit();
    }

    function showWarning(){
        document.getElementById('warning').removeAttribute('hidden')
    }

    function showWarning2(){
        document.getElementById('warning2').removeAttribute('hidden')
    }

    function hideWarnings(){
        document.getElementById('warning').setAttribute('hidden', 'hidden');
        document.getElementById('warning2').setAttribute('hidden', 'hidden');
    }

</script>