<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?ver=1.1">
</head>
    <body class="hf-bg-grad">
    <div class="hf-wrap">
        <!-- Header Start -->
        <header class="hf-header">
            <div class="hf-logo-wrap">
                <div class="hf-logo">
                    <img src="./assets/images/hyfin-logo.svg" alt="">
                </div>
            </div>
            <div class="hf-main-menu-wrap">
                    <ul class="hf-main-menu">
                        <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                        <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                        <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                    </ul>
                    <div class="hf-header-icons">
                        <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                        <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                        <div class="hf-hicon-menu">
                            <div class="hf-menu-btn" id="hf-menu-trigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-tp2-content">
                <div class="hf-tp2-characters-wrap">
                    <div class="hf-tp2-characters">
                        <img class="hf-tp2-character-1" src="./assets/images/asian-lady.webp" alt="">
                    </div>
                </div>
                <div class="hf-tp2-nav-wrap">
                    <h1>Financial Products</h1>
                    <ul class="hf-tp2-nav">
                        <li>
                            <a href="3.html">
                                <span class="hf-icon hf-icon-fx"></span>
                                <span class="hf-tp2-nav-text">Foreign Exchange</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="credit.html">
                                <span class="hf-icon hf-icon-credit"></span>
                                <span class="hf-tp2-nav-text">Credit</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="fixed-income.html">
                                <span class="hf-icon hf-icon-fixed-income"></span>
                                <span class="hf-tp2-nav-text">Fixed Income</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="equities.html">
                                <span class="hf-icon hf-icon-equities"></span>
                                <span class="hf-tp2-nav-text">Equities</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="commodities.html">
                                <span class="hf-icon hf-icon-commodities"></span>
                                <span class="hf-tp2-nav-text">Commodities</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="structured-products.html">
                                <span class="hf-icon hf-icon-structured-products"></span>
                                <span class="hf-tp2-nav-text">Structured Products</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-home">
            <a href="1.html"><img src="./assets/images/icon-home.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>