<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?ver=1.1">
</head>
    <body class="hf-bg-grad">
    <div class="hf-wrap">
        <!-- Header Start -->
        <header class="hf-header">
            <div class="hf-logo-wrap">
                <div class="hf-logo">
                    <img src="./assets/images/hyfin-logo.svg" alt="">
                </div>
            </div>
            <div class="hf-main-menu-wrap">
                    <ul class="hf-main-menu">
                        <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                        <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                        <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                    </ul>
                    <div class="hf-header-icons">
                        <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                        <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                        <div class="hf-hicon-menu">
                            <div class="hf-menu-btn" id="hf-menu-trigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-tp4-content">
                <div class="hf-tp4-characters-wrap">
                    <div class="hf-tp4-characters">
                        <img class="hf-tp4-character-1" src="./assets/images/character1.png" alt="">
                        <img class="hf-tp4-character-2" src="./assets/images/character2.png" alt="">
                    </div>
                </div>
                <div class="hf-tp4-nav-wrap">
                    <div class="hf-bread-crumbs">
                        <a class="hf-bc-item" href="2.html">Financial Products</a>
                        <span class="hf-bc-sep">&nbsp;</span>
                        <a class="hf-bc-item" href="3.html">Foreign Exchange</a>
                        <span class="hf-bc-sep">&nbsp;</span>
                        <a class="hf-bc-item hf-bc-item-current" href="#">FX CFD</a>
                    </div>
                    <h1>FX CFD</h1>

                    <ul class="hf-tp4-nav hf-accordion">
                        <li>
                            <a href="" class="hf-accordion-title">
                                <span class="hf-tp4-nav-text">Market</span>
                            </a>

                            <div class="hf-accordion-panel">
                            <div class="hf-icons-group">
                                <form class="hf-form hf-video-form" name="video-form" id="video-form" role="form" th:action="@{/Video}" method="POST">
                                <a class="hf-bb-icon hf-green">
                                    <div input type="submit" class="hf-icon hf-icon-video" onclick="document.getElementById('video-form').submit()"> </div>
                                </a>
                                </form>
                                <form class="hf-form hf-video-form" name="click-through-form" id="click-through-form" role="form" th:action="@{/ClickThrough}" method="POST">
                                <a class="hf-bb-icon hf-orange">
                                    <div input type="submit" class="hf-icon hf-icon-cursor" onclick="document.getElementById('click-through-form').submit()"></div>
                                </a>
                                </form>
                                <form class="hf-form hf-video-form" name="game-form" id="game-form" role="form" th:action="@{/Games}" method="POST">
                                <a class="hf-bb-icon hf-grey">
                                    <div input type="submit" class="hf-icon hf-icon-game-play" onclick="document.getElementById('game-form').submit()"></div>
                                </a>
                                </form>
                            </div>
                            </div>

                        </li>
                        <li class="hf-inactive">
                            <a href="" class="hf-accordion-title">
                                <span class="hf-tp4-nav-text">Pricing</span>
                            </a>
                        <li class="hf-inactive">
                            <a href="" class="hf-accordion-title">
                                <span class="hf-tp4-nav-text">Product</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="" class="hf-accordion-title">
                                <span class="hf-tp4-nav-text">Orders</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp4-nav-text">Discipline</span>
                            </a>
                        </li>
                        <li class="hf-current">
                            <a href="end-challenges/ec-cfd-1.html">End Challenge</span>
                            </a>
                        </li>
                    </ul>
                 </div>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-home">
            <a href="1.html"><img src="./assets/images/icon-home.svg" alt=""></a>
        </button>
        <ul class="hf-left-menu-links">
            <li class="hf-current">
                <a href="3.html"><span class="hf-icon hf-icon-fx"></span></a>
            </li>
            <li>
                <a href="icon-credit.html"><span class="hf-icon hf-icon-credit"></span></a>
            </li>
            <li>
                <a href="fixed-income.html"><span class="hf-icon hf-icon-fixed-income"></span></a>
            </li>
            <li>
                <a href="equities.html"><span class="hf-icon hf-icon-equities"></span></a>
            </li>
            <li>
                <a href="commodities"><span class="hf-icon hf-icon-commodities"></span></a>
            </li>
            <li>
                <a href="structured-products"><span class="hf-icon hf-icon-structured-products"></span></a>
            </li>
        </ul>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>