<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 05-08</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
</head>
<body class="hf-bg-solid small-bg">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">FX CFD Click-Thru</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner swiper">
            <!-- Click-Thru Wrap Start -->
            <div class="hf-ct-wrap swiper-wrapper">
            <!-- CFD SCR001 -->
            <!-- Click-Thru Type 1 - video Start -->
            <div class="hf-ct1 hf-ct1-video swiper-slide">
                <div class="hf-ct1-content hf-ct1-fco">
                <div class="hf-callout hf-callout-1-inverted hf-orange">
                    <div class="hf-callout-top"></div>
                    <div class="hf-callout-middle"></div>
                    <div class="hf-callout-bottom"></div>
                        <p>Hi, I'm Raj. I work at a bank specialising in Foreign Exchange. For me, FX is the most interesting product due to its impact on all the financial markets, but also the global economy.</p>
                    </div>
                    <div class="hf-ct1-video-wrap">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/710674139?muted=1&autoplay=1&autopause=0&loop=1&background=1" frameborder="0" allow="autoplay; loop; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 1 - video End -->
            <!-- CFD SCR002 -->
            <!-- Click-Thru Type 1 Start -->
            <div class="hf-ct1 swiper-slide">
               <div class="hf-ct1-content hf-ct1-fco">
               <div class="hf-callout hf-callout-1-inverted hf-orange">
                   <div class="hf-callout-top"></div>
                   <div class="hf-callout-middle"></div>
                   <div class="hf-callout-bottom"></div>
                        <p>In the global economy, currency price movements influence Central Bank policies as well as drive investor sentiment, promote global trade, or curb excessive growth.</p>
                    </div>
                    <figure class="hf-ct1-character1">
                        <img src="./assets/images/click-thrus/scr002.png" alt="">
                    </figure>
                </div>
            </div>
            <!-- Click-Thru Type 1 End -->
            <!-- CFD SCR003 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>As a result, the Foreign Exchange markets are used by many different participants to speculate or manage currency risk.  These can include Central Banks, Corporations, professional funds and individual investors.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr003.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR004 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>Central Banks are major participants in currency markets, and keep a keen eye on exchange rates.  They can use interest rates and direct interventions to help manage their economies.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr004.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR005 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>They try to balance the effects of currency fluctuations, (for example where a strengthening currency can cool an expanding economy), by reducing exports and foreign investment.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr005.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR006 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>Central Banks can manage their currencies by either intervening directly in the markets to maintain a level, or indirectly by using interest rates to influence global investor sentiment in the national currency.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr006.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR007 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>Although these interventions can have a short-term impact on the market, the sheer size and scale of the FX market means that in the end, the market usually moves to where investors believe the value is fair.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr007.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR008 -->
            <!-- Click-Thru Type 1 - video Start -->
            <div class="hf-ct1 hf-ct1-video swiper-slide">
               <div class="hf-ct1-content hf-ct1-fco">
               <div class="hf-callout hf-callout-1-inverted hf-orange">
                   <div class="hf-callout-top"></div>
                   <div class="hf-callout-middle"></div>
                   <div class="hf-callout-bottom"></div>
                        <p>Hi, I'm Sophia, and I use the FX market to speculate on price movements. As a retail investor, I like the large liquidity and easy access that this market offers me.</p>
                    </div>
                    <div class="hf-ct1-video-wrap">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/710679846?muted=1&autoplay=1&autopause=0&loop=1&background=1" frameborder="0" allow="autoplay; loop; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 1 - video End -->
            <!-- CFD SCR009 -->
            <!-- Click-Thru Type 1 Start -->
            <div class="hf-ct1 swiper-slide">
                <div class="hf-ct1-content hf-ct1-fco">
                <div class="hf-callout hf-callout-1-inverted hf-orange">
                    <div class="hf-callout-top"></div>
                    <div class="hf-callout-middle"></div>
                    <div class="hf-callout-bottom"></div>
                        <p>I use a product called a Contract for Difference (or CFD). Its leverage allows me to access a market that typically deals in large transaction sizes.</p>
                    </div>
                    <figure class="hf-ct1-character1">
                        <img src="./assets/images/click-thrus/scr009.png" alt="">
                    </figure>
                </div>
            </div>
            <!-- Click-Thru Type 1 End -->
            <!-- CFD SCR010 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                <div class="hf-callout hf-callout-3-inverted hf-taupe">
                    <div class="hf-callout-top"></div>
                    <div class="hf-callout-middle"></div>
                    <div class="hf-callout-bottom"></div>
                        <p>I use CFDs to place short term trades on a variety of currencies, all at the touch of a button, from my mobile device or at home.  It has opened the market to many individual investors like me.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr010.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR011 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>There are a variety of strategies that you could follow, whether trading on macro-economic price movements, technical analysis, or taking advantage of interest rate differences between currencies (AKA the carry trade).</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr011.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR012 -->
            <!-- Click-Thru Type 1 Start -->
            <div class="hf-ct1 swiper-slide">
                <div class="hf-ct1-content hf-ct1-fco">
                <div class="hf-callout hf-callout-1-inverted hf-orange">
                    <div class="hf-callout-top"></div>
                    <div class="hf-callout-middle"></div>
                    <div class="hf-callout-bottom"></div>
                        <p>The FX market allows me the flexibility to put on trades as and when I like to match my investment strategy, in sizes that suit my investment objectives.</p>
                    </div>
                    <figure class="hf-ct1-character1">
                        <img src="./assets/images/click-thrus/scr012.png" alt="">
                    </figure>
                </div>
            </div>
            <!-- Click-Thru Type 1 End -->
            <!-- CFD SCR013 -->
            <!-- Click-Thru Type 1 Start -->
            <div class="hf-ct1 swiper-slide">
                <div class="hf-ct1-content hf-ct1-fco">
                <div class="hf-callout hf-callout-1-inverted hf-orange">
                    <div class="hf-callout-top"></div>
                    <div class="hf-callout-middle"></div>
                    <div class="hf-callout-bottom"></div>
                        <p>Hi, I'm Kimi, I work in the treasury department of a large multinational corporation. The FX market has a direct impact on our company's daily activities as well as our growth prospects.</p>
                    </div>
                    <figure class="hf-ct1-character1">
                        <img src="./assets/images/click-thrus/scr013.png" alt="">
                    </figure>
                </div>
            </div>
            <!-- Click-Thru Type 1 End -->
            <!-- CFD SCR014 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>We both source some of our raw materials from abroad, as well as export our products to a number of foreign countries.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr014.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR015 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>A weakening in our home currency can boost our export sales, but at the same time can weaken our purchasing power for raw materials from abroad, increasing our manufacturing costs.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr015.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR016 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>Conversely, a strengthening home currency can reduce our sourcing costs from abroad, but also shrink our export sales due to uncompetitive prices.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr016.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR017 -->
            <!-- Click-Thru Type 3 Start -->
            <div class="hf-ct3 swiper-slide">
                <div class="hf-ct3-content">
                    <div class="hf-callout hf-callout-3-inverted hf-taupe">
                        <div class="hf-callout-top"></div>
                        <div class="hf-callout-middle"></div>
                        <div class="hf-callout-bottom"></div>
                        <p>We use hedging programmes to protect ourselves against currency fluctuations, keeping a close eye on market movements and predictions, trying our best to forecast and manage costs.</p>
                    </div>
                    <div class="hf-ct3-graph">
                        <img src="./assets/images/click-thrus/scr017.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 3 End -->
            <!-- CFD SCR018 -->
            <!-- Click-Thru Type 1 - video Start -->
            <div class="hf-ct1 hf-ct1-video swiper-slide">
                <div class="hf-ct1-content hf-ct1-fco">
                <div class="hf-callout hf-callout-1-inverted hf-orange">
                    <div class="hf-callout-top"></div>
                    <div class="hf-callout-middle"></div>
                    <div class="hf-callout-bottom"></div>
                        <p>So as you can see, FX is an interesting market, with many diverse users and factors at play.  However, participants will only ever have one of two objectives - to speculate or to manage their currency risk.</p>
                    </div>
                    <div class="hf-ct1-video-wrap">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/710674139?muted=1&autoplay=1&autopause=0&loop=1&background=1" frameborder="0" allow="autoplay; loop; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

                    </div>
                </div>
            </div>
            <!-- Click-Thru Type 1 - video End -->
            </div>
            <!-- Click-Thru Wrap End -->
            <!-- Click-Thru Nav Start -->
            <form class="hf-ct-nav" name="prev-next-form" id="prev-next-form" role="form" th:action="@{/ClickThrough}" method="POST">
            <div class="hf-form-row hf-fr-submit">
                <button class="hf-ct-prev hf-button hf-button-left"><span>Prev</span></button>
            </div>
            <div class="hf-form-row hf-fr-submit">
                <button class="hf-ct-next hf-button hf-button-right"><span>Next</span></button>
            </div>
            </form>
            <!-- Click-Thru Nav End -->
        </div>
    </main>
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="4.html"><img src="./assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script><!-- Swiper JS -->
<script src="./assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-ct-next",
            prevEl: ".hf-ct-prev",
        },
    });
</script>
</body>
</html>