<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Template 05-08</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
  <!-- Link Main CSS -->
  <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
</head>
<body class="hf-bg-solid small-bg">
<div class="hf-wrap">
  <!-- Header Start -->
  <header class="hf-header">
    <div class="hf-logo-wrap">
      <div class="hf-logo">
        <img src="./assets/images/hyfin-logo.svg" alt="">
      </div>
      <div class="hf-current-screen">
        <span class="hf-current-screen-title">FX CFD Click-Thru</span>
      </div>
    </div>
    <div class="hf-main-menu-wrap">
      <ul class="hf-main-menu">
        <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
        <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
        <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
      </ul>
      <div class="hf-header-icons">
        <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
        <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
        <div class="hf-hicon-menu">
          <div class="hf-menu-btn" id="hf-menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->
  <main class="hf-main">
    <div class="hf-main-inner swiper">
      <!-- Click-Thru Wrap Start -->
      <div class="hf-ct-wrap swiper-wrapper">
        <!-- CFD SCR001 -->
        <!-- Click-Thru Type 1 - video Start -->
        <!-- Click-Thru Type 1 - video End -->
        <!-- CFD SCR002 -->
        <!-- Click-Thru Type 1 Start -->

        <!-- Click-Thru Type 1 End -->
        <!-- CFD SCR003 -->
        <!-- Click-Thru Type 3 Start -->
        <!-- Click-Thru Type 3 End -->
        <!-- CFD SCR005 -->
        <!-- Click-Thru Type 3 Start -->
        <!-- Click-Thru Type 1 - video End -->
        <!-- CFD SCR009 -->
        <!-- Click-Thru Type 1 Start -->
        <!-- Click-Thru Type 1 End -->
        <!-- CFD SCR010 -->
        <!-- Click-Thru Type 3 Start -->
        <!-- Click-Thru Type 3 End -->
        <!-- CFD SCR012 -->
        <!-- Click-Thru Type 1 Start -->
        <!-- Click-Thru Type 3 End -->
        <!-- CFD SCR017 -->
        <!-- Click-Thru Type 3 Start -->
        <!-- Click-Thru Type 3 End -->
        <!-- CFD SCR018 -->
        <!-- Click-Thru Type 1 - video Start -->
        <div class="hf-ct1 hf-ct1-video swiper-slide">
          <div class="hf-ct1-content hf-ct1-fco">
            <div class="hf-callout hf-callout-1-inverted hf-orange">
              <div class="hf-callout-top"></div>
              <div class="hf-callout-middle"></div>
              <div class="hf-callout-bottom"></div>
              <p>So as you can see, FX is an interesting market, with many diverse users and factors at play.  However, participants will only ever have one of two objectives - to speculate or to manage their currency risk.</p>
            </div>
            <div class="hf-ct1-video-wrap">
              <div style="padding:100% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/710674139?muted=1&autoplay=1&autopause=0&loop=1&background=1"
                        frameborder="0" allow="autoplay; loop; fullscreen; picture-in-picture" allowfullscreen
                        style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>

            </div>
          </div>
        </div>
        <!-- Click-Thru Type 1 - video End -->
      </div>
      <!-- Click-Thru Wrap End -->
      <!-- Click-Thru Nav Start -->
      <form class="hf-ct-nav" name="prev-next-form1" id="prev-next-form1" role="form" th:action="@{/ClickThroughPrev18}"
            method="POST">
        <div input type="submit" class="hf-form-row hf-fr-submit"
             onclick="document.getElementById('prev-next-form1').submit()">
          <button class="hf-ct-prev hf-button hf-button-left"><span>Prev</span></button>
        </div>
      </form>
      <a class="hf-ct-nav click-through-done-button" href="4.html"><button class="hf-button"><span>Done</span></button></a>
      <!-- Click-Thru Nav End -->
    </div>
  </main>
  <!-- Left Panel Start -->
  <div class="hf-left-menu-wrap">
    <button class="hf-lm-close">
      <a href="4.html"><img src="./assets/images/close.svg" alt=""></a>
    </button>
  </div>
  <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script><!-- Swiper JS -->
<script src="./assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".swiper", {
    slidesPerView: 1,
    spaceBetween: 0,
    autoHeight: true,
    allowTouchMove: false,
    keyboard: {
      enabled: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".hf-ct-next",
      prevEl: ".hf-ct-prev",
    },
  });
</script>
</body>
</html>