<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 09</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
</head>
<body class="hf-bg-solid">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">FX CFD Video</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <!-- Video Wrap Start -->
            <div class="hf-video-wrap">
                <!-- Video Start -->
                <div class="hf-video">
                    <div class="hf-video-inner">
                        <!-- Video embed code  -->
                        <div style="padding:55.66% 0 0 0;position:relative;">
                            <iframe src="https://player.vimeo.com/video/747163882?h=2bb949f489&color=ff9933&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                        <!-- Video embed code  -->
                    </div>
                </div>
                <!-- Video End -->
                <!-- Video frames start -->
                <span class="hf-video-frame-tl"></span>
                <span class="hf-video-frame-tr"></span>
                <span class="hf-video-frame-bl"></span>
                <span class="hf-video-frame-br"></span>
                <!-- Video frames end -->
            </div>
            <!-- Video Wrap End -->
            <!-- Done Button Start -->
            <form class="hf-form hf-done-form" id="done-form" role="form" th:action="@{/Done}" method="POST">
            <div class="hf-video-button-wrap">
                <button class="hf-button"><span>Done</span></button>
            </div>
            </form >
            <!-- Done Button End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="4.html"><img src="./assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>