<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?ver=1.1">
</head>
<body class="hf-bg-grad">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
        </div>
        <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-tp3-content">
                <div class="hf-tp3-characters-wrap">
                    <div class="hf-tp3-characters">
                        <img class="hf-tp3-character-1" src="./assets/images/character1.png" alt="">
                        <img class="hf-tp3-character-2" src="./assets/images/character2.png" alt="">
                    </div>
                </div>
                <div class="hf-tp3-nav-wrap">
                    <div class="hf-bread-crumbs">
                        <a class="hf-bc-item" href="2.html">Financial Products</a>
                        <span class="hf-bc-sep">&nbsp;</span>
                        <a class="hf-bc-item hf-bc-item-current" href="#">Credit</a>
                    </div>
                    <h1>Credit</h1>
                    <ul class="hf-tp3-nav">
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp3-nav-text">Asset Backed Securities</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp3-nav-text">Credit Default Swaps</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp3-nav-text">Credit Default Obligations</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp3-nav-text">Corporate Bonds</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp3-nav-text">Government & Supra National Bonds</span>
                            </a>
                        </li>
                        <li class="hf-inactive">
                            <a href="">
                                <span class="hf-tp3-nav-text">Municipal Bonds</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2023 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-home">
            <a href="1.html"><img src="./assets/images/icon-home.svg" alt=""></a>
        </button>
        <ul class="hf-left-menu-links">
            <li>
                <a href="3.html"><span class="hf-icon hf-icon-fx"></span></a>
            </li>
            <li class="hf-current">
                <a href="credit.html"><span class="hf-icon hf-icon-credit"></span></a>
            </li>
            <li>
                <a href="fixed-income.html"><span class="hf-icon hf-icon-fixed-income"></span></a>
            </li>
            <li>
                <a href="equities.html"><span class="hf-icon hf-icon-equities"></span></a>
            </li>
            <li>
                <a href="commodities.html"><span class="hf-icon hf-icon-commodities"></span></a>
            </li>
            <li>
                <a href="structured-products.html"><span class="hf-icon hf-icon-structured-products"></span></a>
            </li>
        </ul>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>