<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="./assets/css/custom.css?ver=1.1">





</head>
<body class="hf-bg-solid">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">End Challenge</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
            <ul class="hf-main-menu">
                <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="../1.html">Courses</a></li>
                <li class="hf-menu-item hf-menu-item-help"><a href="../faqs.html">FAQs</a></li>
                <li class="hf-menu-item hf-menu-item-glossary"><a href="../glossary.html">Glossary</a></li>
            </ul>
            <div class="hf-header-icons">
                <a class="hf-hicon-search" href="../search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                <a class="hf-hicon-profile" href="../account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                <div class="hf-hicon-menu">
                    <div class="hf-menu-btn" id="hf-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <!-- Carousel Wrap Start -->
            <div class="hf-carousel-wrap trade-currency">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- Carousel Item 1 Start -->
                            <div class="swiper-slide">
                                <div class="trade-currency__content">
                                    <h3 class="trade-currency__title">What currency pair do you want to trade?</h3>
                                    <div class="trade-currency__description">Choose a pair and select next to continue</div>
                                    <div class="trade-currency__currencies">
                                        <div onclick="enableNext()" class="trade-currency__currency">
                                            <input type="radio" name="currency" id="currency1" class="currency__input" />
                                            <label for="currency1">
                                                <div class="currency">
                                                    <div class="currency__top">
                                                        <div class="currency__flag"><img src="assets/images/flag-europa.svg" alt="Flag" /></div>
                                                        <div class="currency__flag"><img src="assets/images/flag-usa.svg" alt="Flag" /></div>
                                                        <div class="currency__title-and-value">
                                                            <div class="currency__title">EUR/USD</div>
                                                            <div class="currency__value">Spot FX Mid Rate: 1.0960</div>
                                                        </div>
                                                    </div>
                                                    <div class="currency__graph">
														 <img src="assets/images/trending-up.svg">
                                                    </div>
                                                    <div class="currency__label">
                                                        <svg width="29.917969px" height="29.917969px" viewBox="0 0 29.917969 29.917969" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                          <g id="Group-3" transform="translate(0.9589844 0.9589844)">
                                                            <path d="M28 14C28 21.7321 21.7321 28 14 28C6.2679 28 0 21.7321 0 14C0 6.2679 6.2679 0 14 0C21.7321 0 28 6.2679 28 14Z" id="Stroke-15-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.9182086" />
                                                            <path d="M20.2763 10.6206L11.9089 18.3447L7.72461 14.4832L11.9089 18.3447L20.2763 10.6206Z" id="Stroke-27-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.7728486" />
                                                          </g>
                                                        </svg>
                                                        <p>Select EUR/USD to trade</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div onclick="disableNext()" class="trade-currency__currency disabled_currency">
                                            <input type="radio" name="currency" id="currency2" class="currency__input" />
                                            <label for="currency2">
                                                <div class="currency">
                                                    <div class="currency__top">
                                                        <div class="currency__flag"><img src="assets/images/flag-uk.svg" alt="Flag" /></div>
                                                        <div class="currency__flag"><img src="assets/images/flag-usa.svg" alt="Flag" /></div>
                                                        <div class="currency__title-and-value">
                                                            <div class="currency__title">GBP/USD</div>
                                                            <div class="currency__value">Spot FX Mid Rate: 1.3086</div>
                                                        </div>
                                                    </div>
                                                    <div class="currency__graph">
                                                        <img src="assets/images/trending-down.svg">
                                                    </div>
                                                    <div class="currency__label">
                                                        <svg width="29.917969px" height="29.917969px" viewBox="0 0 29.917969 29.917969" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                          <g id="Group-3" transform="translate(0.9589844 0.9589844)">
                                                            <path d="M28 14C28 21.7321 21.7321 28 14 28C6.2679 28 0 21.7321 0 14C0 6.2679 6.2679 0 14 0C21.7321 0 28 6.2679 28 14Z" id="Stroke-15-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.9182086" />
                                                            <path d="M20.2763 10.6206L11.9089 18.3447L7.72461 14.4832L11.9089 18.3447L20.2763 10.6206Z" id="Stroke-27-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.7728486" />
                                                          </g>
                                                        </svg>
                                                        <p>Select GBP/USD to trade</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div onclick="disableNext()" class="trade-currency__currency disabled_currency">
                                            <input type="radio" name="currency" id="currency3" class="currency__input" />
                                            <label for="currency3">
                                                <div class="currency">
                                                    <div class="currency__top">
                                                        <div class="currency__flag"><img src="assets/images/flag-usa.svg" alt="Flag" /></div>
                                                        <div class="currency__flag"><img src="assets/images/flag-japan.svg" alt="Flag" /></div>
                                                        <div class="currency__title-and-value">
                                                            <div class="currency__title">USD/JPY</div>
                                                            <div class="currency__value">Spot FX Mid Rate: 116.90</div>
                                                        </div>
                                                    </div>
                                                    <div class="currency__graph">
                                                        <img src="assets/images/trending-up.svg">
                                                    </div>
                                                    <div class="currency__label">
                                                        <svg width="29.917969px" height="29.917969px" viewBox="0 0 29.917969 29.917969" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                          <g id="Group-3" transform="translate(0.9589844 0.9589844)">
                                                            <path d="M28 14C28 21.7321 21.7321 28 14 28C6.2679 28 0 21.7321 0 14C0 6.2679 6.2679 0 14 0C21.7321 0 28 6.2679 28 14Z" id="Stroke-15-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.9182086" />
                                                            <path d="M20.2763 10.6206L11.9089 18.3447L7.72461 14.4832L11.9089 18.3447L20.2763 10.6206Z" id="Stroke-27-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.7728486" />
                                                          </g>
                                                        </svg>
                                                        <p>Select USD/JPY to trade</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 1 End -->
                            <!-- Carousel Item 2 Start -->
                            <div class="swiper-slide">
                                <div class="trade-currency__content">
                                    <h3 class="trade-currency__title">You have chosen EUR/USD</h3>
                                    <div class="trade-currency__description">You have chosen EUR/USD</div>
                                    <div class="chosen-currency">
                                        <div class="chosen-currency__country">
                                            <div class="country__flag-and-title">
                                                <div class="country__flag"><img src="assets/images/flag-europa.svg" alt="Flag" /></div>
                                                <div class="country__title">Eurozone</div>
                                            </div>
                                            <div class="country__description">
                                                <p>
                                                    Data Release:<br>
                                                    German Inflation Data
                                                </p>
                                                <p>
                                                    Central Bank:<br>
                                                    ECB Chair Lagarde speaking
                                                </p>
                                                <p>
                                                    Macro/Politics:<br>
                                                    Russia lays siege to Kiyv
                                                </p>
                                                <p>
                                                    Current Inflation: <br>
                                                    5.8%
                                                </p>
                                                <p>
                                                    Inflation Trend: <img src="assets/images/icon-top-right.svg" alt="Icon" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chosen-currency__country">
                                            <div class="country__flag-and-title">
                                                <div class="country__flag"><img src="assets/images/flag-usa.svg" alt="Flag" /></div>
                                                <div class="country__title">US</div>
                                            </div>
                                            <div class="country__description">
                                                <p>
                                                    Data Release:<br>
                                                    Retail Sales
                                                </p>
                                                <p>
                                                    Central Bank:<br>
                                                    Fed Chair Powell speaking
                                                </p>
                                                <p>
                                                    Macro/Politics:<br>
                                                    Oil trades over $140 a barrel
                                                </p>
                                                <p>
                                                    Current Inflation:<br>
                                                    7.9%
                                                </p>
                                                <p>
                                                    Inflation Trend: <img src="assets/images/icon-top.svg" alt="Icon" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chosen-currency__chart">
                                            <div class="chart__title">EUR/USD – Spot Chart</div>
                                            <div class="chart__live-graph">
												<p><span>Directional Graph here</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 2 End -->
                        </div>
                    </div>
                    <!-- Carousel Navigation and pagination start -->
                    <div class="hf-carousel-control">
<!--                        <button class="hf-carousel-prev hf-button hf-button-left"><span>Prev</span></button>-->
<!--                        <form role="form" th:action="@{/end-challenge/start}" method="GET">-->
                            <button id="dis-button" disabled type="button" onclick="swiper.disable(); location.href='/ec-cfd-2'" class="disabled-button hf-button hf-button-right"><span>Next</span></button>
<!--                        </form>-->
<!--                        <button class="hf-carousel-next hf-button hf-button-right"><span>Next</span></button>-->
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- Carousel Navigation and pagination end -->
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="../4.html"><img src="./assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
<script src="./assets/js/custom.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="./assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });

    function enableNext(){
        console.log('function enableNext()');
        document.getElementById('dis-button').removeAttribute("disabled");
        document.getElementById('dis-button').classList.remove("disabled-button");
    }

    function disableNext(){
        console.log('function enableNext()');
        document.getElementById('dis-button').setAttribute("disabled", "disabled");
        document.getElementById('dis-button').classList.add("disabled-button");
    }
</script>

</body>
</html>