<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="/assets/css/custom.css?ver=1.1">
</head>
<body class="hf-bg-solid">
<div id="bg" onclick="bgClick()" style="z-index: 1" hidden class="overlay-bg">
</div>
<div hidden id="warning1" class="warning__content warning">
    <div class="warning__icon-and-title">
        <div class="warning__icon"><img src="/assets/images/icon-warning.svg" alt="Icon" /></div>
        <div class="warning__title">WARNING!</div>
    </div>
    <div class="warning__description">Risking more than 20% of your capital on a single trade isn’t recommended. Long-term trading success involves prudent risk management.</div>
    <div class="warning__action">
        <a href="#" onclick="hideWarnings()">Back to order entry</a>
        <a href="/4">Back to THE COURSE</a>
    </div>
</div>


    <div hidden id="warning2" class="warning__content warning">
        <div class="warning__icon-and-title">
            <div class="warning__icon"><img src="/assets/images/icon-warning.svg" alt="Icon" /></div>
            <div class="warning__title">GAME OVER</div>
        </div>
        <div class="warning__description">
            You want to bet all your money in one shot, then you are better off in Las Vegas. Risking most or all of your capital on a single trade isn’t trading, its gambling.<br><br>
            Let’s pop back quickly to the course and go over the risks of leverage again…
        </div>
        <div class="warning__action">
            <a href="/4">Back to THE COURSE</a>
        </div>
    </div>
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="/assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">End Challenge</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
            <ul class="hf-main-menu">
                <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="../1.html">Courses</a></li>
                <li class="hf-menu-item hf-menu-item-help"><a href="../faqs.html">FAQs</a></li>
                <li class="hf-menu-item hf-menu-item-glossary"><a href="../glossary.html">Glossary</a></li>
            </ul>
            <div class="hf-header-icons">
                <a class="hf-hicon-search" href="../search.html"><img src="/assets/images/icon-search.svg" alt=""></a>
                <a class="hf-hicon-profile" href="../account.html"><img src="/assets/images/icon-profile.svg"
                                                                        alt=""></a>
                <div class="hf-hicon-menu">
                    <div class="hf-menu-btn" id="hf-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main id="main" class="hf-main" style="z-index: 0;">
        <div class="hf-main-inner">
            <form role="form" th:action="@{/end-challenge/send-trade}" method="POST">
                <input type="text" hidden name="capitalPercent" id="capitalPercent">
                <input type="text" hidden name="sentiment" id="direction">
                <input type="text" hidden name="price" id="price">
                <!-- Carousel Wrap Start -->
                <div class="hf-carousel-wrap spot-trader">
                    <!-- Carousel Start -->
                    <div class="hf-carousel">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Carousel Item 1 Start -->
                                <div class="swiper-slide">
                                    <div class="spot-trader__content">
                                        <h3 class="spot-trader__title">Hyfin FX SpotTrader</h3>
                                        <div class="spot-trader__description">What is your sentiment?</div>
                                        <div class="spot-trader__item">
                                            <input onclick="fireEvent('E01'); setSentiment('BULLISH'); enableSentimentChecked()" type="radio" name="currency" id="currency1"
                                                   class="spot-trader__input"/>
                                            <label for="currency1">
                                                <div class="spot-trader__label">
                                                    <svg width="47px" height="44.279297px" viewBox="0 0 47 44.279297"
                                                         version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Group-9" transform="translate(1 1)">
                                                            <path d="M26 19.2794L22 15.7964" id="Stroke-1" fill="none"
                                                                  fill-rule="evenodd" stroke="#B7B7B7"
                                                                  stroke-width="2"/>
                                                            <g id="Group-8">
                                                                <path d="M15.2023 12.2794C14.1603 5.1124 8.9523 0.696399 5.2023 0.279399C2.9523 3.5914 2.7853 10.1544 8.2023 14.2794"
                                                                      id="Stroke-2" fill="none" fill-rule="evenodd"
                                                                      stroke="#B7B7B7" stroke-width="2"
                                                                      stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M4 9.2794L0 9.2794" id="Stroke-4" fill="none"
                                                                      fill-rule="evenodd" stroke="#B7B7B7"
                                                                      stroke-width="2" stroke-linecap="round"
                                                                      stroke-linejoin="round"/>
                                                                <path d="M15 4.2794C16.417 2.4464 18.778 1.4094 23.202 0.279399C28.75 -1.1376 38.292 3.4044 45 1.2794C44.625 4.9874 31.922 5.7434 27.202 7.2794C24.024 8.3134 24.597 10.0294 26.202 11.2794C32.305 14.2174 31.327 16.2174 31.202 19.2794C32.549 21.6494 37.563 25.5084 40.202 28.2794C41.869 30.0294 43.619 31.3624 42.785 33.0184C40.817 36.9274 36.083 41.2794 34 41.2794C32.589 41.2794 9.869 40.0294 7.211 38.4834C6.418 38.9234 2.202 42.2794 2.202 42.2794"
                                                                      id="Stroke-6" fill="none" fill-rule="evenodd"
                                                                      stroke="#B7B7B7" stroke-width="2"
                                                                      stroke-linecap="round" stroke-linejoin="round"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                    <p>Bullish <span th:text="${chosenPair.currencyPairFormatted}"></span></p>
                                                </div>
                                            </label>
                                        </div>
                                        <div  class="spot-trader__item">
                                            <input onclick="fireEvent('E02'); setSentiment('BEARISH'); enableSentimentChecked()" type="radio" name="currency" id="currency2"
                                                   class="spot-trader__input"/>
                                            <label for="currency2">
                                                <div class="spot-trader__label">
                                                    <svg width="46.970703px" height="48.308105px"
                                                         viewBox="0 0 46.970703 48.308105" version="1.1"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Group-9" transform="translate(1 1)">
                                                            <path d="M12.513 8.69952C12.513 8.69952 13.455 7.92952 13.475 6.77452C13.496 5.61952 12.874 0.397519 11.55 0.0365195C10.227 -0.324481 4.692 2.00152 2.888 6.54352L0 7.73652"
                                                                  id="Stroke-1" fill="none" fill-rule="evenodd"
                                                                  stroke="#B7B7B7" stroke-width="2"
                                                                  stroke-linecap="round"/>
                                                            <path d="M25.8282 20.0336C25.8282 20.0336 24.5662 18.2206 20.7612 17.6196"
                                                                  id="Stroke-3" fill="none" fill-rule="evenodd"
                                                                  stroke="#B7B7B7" stroke-width="2"
                                                                  stroke-linecap="round"/>
                                                            <path d="M39.7233 26.0381C39.8793 27.6551 40.7233 30.0381 40.7233 30.0381L44.4113 30.7381"
                                                                  id="Stroke-5" fill="none" fill-rule="evenodd"
                                                                  stroke="#B7B7B7" stroke-width="2"
                                                                  stroke-linecap="round"/>
                                                            <path d="M13.3457 5.05812C18.2297 6.42712 29.5207 13.7551 29.5207 13.7551L31.5897 19.3981C31.5897 19.3981 43.7097 25.2721 44.8017 26.0281C45.8057 28.6991 41.9997 36.9721 41.9997 36.9721C41.9997 36.9721 29.0417 42.6211 26.9997 43.0381C24.9587 43.4551 20.7197 44.1001 17.6607 42.2481L13.7257 46.3081"
                                                                  id="Stroke-7" fill="none" fill-rule="evenodd"
                                                                  stroke="#B7B7B7" stroke-width="2"
                                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                                        </g>
                                                    </svg>
                                                    <p>Bearish <span th:text="${chosenPair.currencyPairFormatted}"></span></p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div style="justify-content: center; display: flex; margin-top: 40px;">
                                        <button onclick="location.href='/end-challenge/ec-cfd-1';" class="hf-button hf-button-left"
                                                type="reset"><span>Go back</span></button>
                                    </div>
                                </div>
                                <!-- Carousel Item 1 End -->
                                <!-- Carousel Item 2 Start -->
                                <div class="swiper-slide">
                                    <div class="spot-trader__content-2">
                                        <h3 class="spot-trader__title">Hyfin FX SpotTrader</h3>
                                        <div class="spot-trader__d-flex">
                                            <div class="spot-trader__left">
                                                <div class="spot-trader__amount">Choose the amount of capital you want
                                                    to risk:
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item">
                                                            <input onclick="fireEvent('F01'); setCapitalPercent(1); enableCapitalAmountChecked()" type="radio" name="amount" id="amount5"
                                                                   class="spot-trader__amount-input"/>
                                                            <label for="amount5">
                                                                <div
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable01}"></span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item">
                                                            <input onclick="fireEvent('F02'); setCapitalPercent(2); enableCapitalAmountChecked()" type="radio" name="amount" id="amount10"
                                                                   class="spot-trader__amount-input"/>
                                                            <label for="amount10">
                                                                <div
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable02}"></span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item">
                                                            <input onclick="fireEvent('F03'); setCapitalPercent(3); enableCapitalAmountChecked()" type="radio" name="amount" id="amount15"
                                                                   class="spot-trader__amount-input"/>
                                                            <label for="amount15">
                                                                <div
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable03}"></span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item">
                                                            <input onclick="fireEvent('F04'); setCapitalPercent(4); enableCapitalAmountChecked()" type="radio" name="amount" id="amount20"
                                                                   class="spot-trader__amount-input"/>
                                                            <label for="amount20">
                                                                <div
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable04}"></span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item spot-trader__amount-item-inactive">
                                                            <input type="radio" name="amount" id="amount25"
                                                                   class="spot-trader__amount-input"/>
                                                                <div onclick="fireEvent('F05'); showWarning1()"
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable05}"></span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item spot-trader__amount-item-inactive">
                                                            <input type="radio" name="amount" id="amount50"
                                                                   class="spot-trader__amount-input"/>
                                                                <div onclick="fireEvent('F06'); showWarning1()"
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable06}"></span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item spot-trader__amount-item-inactive">
                                                            <input type="radio" name="amount" id="amount75"
                                                                   class="spot-trader__amount-input"/>
                                                                <div onclick="fireEvent('F07'); showWarning1()"
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable07}"></span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="spot-trader__amount-item spot-trader__amount-item-inactive">
                                                            <input type="radio" name="amount" id="amount100"
                                                                   class="spot-trader__amount-input"/>
                                                                <div onclick="fireEvent('F08'); showWarning2()"
                                                                     class="spot-trader__amount-label">
                                                                    <span th:text="${ecStaticDataDaily.mrgSizeVariable08}"></span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spot-trader__right">
                                                <div class="your-trading-account">
                                                    <div class="your-trading-account__title">Your trading account:</div>
                                                    <div class="your-trading-account__item">
                                                        <div class="your-trading-account-item__left">Available margin:
                                                        </div>
                                                        <div class="your-trading-account-item__right"><span th:text="${chosenPair.currency2.name}"></span> <span th:text="${ecStaticDataDaily.userMargin}"></span>
                                                        </div>
                                                    </div>
                                                    <div class="your-trading-account__item">
                                                        <div class="your-trading-account-item__left">Leverage:</div>
                                                        <div class="your-trading-account-item__right"><span th:text="${ecStaticDataDaily.brokerLeverage}"></span></div>
                                                    </div>
                                                    <div class="your-trading-account__item">
                                                        <div class="your-trading-account-item__left">Max position
                                                            size:
                                                        </div>
                                                        <div class="your-trading-account-item__right">
                                                            <span th:text="${chosenPair.currency1.name}"></span> <span id="mps1" th:text="${ecStaticDataDaily.maxPosSizeBase}"></span><br>
                                                            <span th:text="${chosenPair.currency2.name}"></span> <span id="mps2" th:text="${ecStaticDataDaily.maxPosSizeTerm}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel Item 2 End -->
                                <!-- Carousel Item 3 Start -->
                                <div class="swiper-slide">
                                    <div class="spot-trader__content">
                                        <h3 class="spot-trader__title">Hyfin FX SpotTrader</h3>
                                        <div class="spot-trader__action">Choose bid or ask and select trade to continue</div>
                                        <div class="flags-currency">
                                            <div class="flag"><img th:src="@{${'/assets/images/' + chosenPair.currency1.flagUrl}}" alt="Flag" />
                                            </div>
                                            <div class="flag"><img th:src="@{${'/assets/images/' + chosenPair.currency2.flagUrl}}" alt="Flag" /></div>
                                            <div class="selected-currency"><span th:text="${chosenPair.currencyPairFormatted}"></span></div>
                                        </div>
                                        <div class="bid-ask">
                                            <div class="bid-ask__value"><span th:text="${ecStaticDataDaily.ccyPairPartRateFormatted}"></span></div>
                                            <div class="bid-ask__item">
                                                <span>BID</span>
                                                <p th:text="${ecStaticDataDaily.ccyPairBidPips}"></p>
                                            </div>
                                            <div class="bid-ask__item">
                                                <span>ASK</span>
                                                <p th:text="${ecStaticDataDaily.ccyPairAskPips}"></p>
                                            </div>
                                        </div>
                                        <div onclick="enablePriceChecked()" class="select-price">
                                            <div class="select-price__item">
                                                <input onclick="setPrice('BID'); fireEvent('G01')" type="radio" name="priceLabel" id="price1"
                                                       class="select-price__item-input"/>
                                                <label for="price1">
                                                    <div class="select-price__item-label">
                                                        -<span style="color: black" th:text="${chosenPair.currency1.name}"></span> <span id="bidValue" style="color: black"></span><br>
                                                        <span>+<span th:text="${chosenPair.currency2.name}"></span></span> <span id="posSize1"></span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div  class="select-price__item">
                                                <input onclick="setPrice('ASK'); fireEvent('G02')" type="radio" name="priceLabel" id="price2"
                                                       class="select-price__item-input"/>
                                                <label for="price2">
                                                    <div class="select-price__item-label">
                                                        +<span style="color: black" th:text="${chosenPair.currency1.name}"></span> <span id="askValue" style="color: black"></span><br>
                                                        <span>-<span th:text="${chosenPair.currency2.name}"></span></span> <span id="posSize2"></span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="justify-content: center; display: flex; margin-top: 40px;">
                                        <button id="dis-button" disabled class="hf-button disabled-button"><span>Trade</span></button>
                                    </div>
                                </div>
                                <!-- Carousel Item 3 End -->
                            </div>
                        </div>
                        <!-- Carousel Navigation and pagination start -->
                        <div class="hf-carousel-control">
                            <button class="hf-carousel-prev hf-button hf-button-left"><span>Prev</span></button>
                           <button class="hf-carousel-next hf-button hf-button-right"><span>Next</span></button>
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- Carousel Navigation and pagination end -->
                    </div>
                    <!-- Carousel End -->
                    <!-- Carousel frames start -->
                    <span class="hf-carousel-frame-tl"></span>
                    <span class="hf-carousel-frame-tr"></span>
                    <span class="hf-carousel-frame-bl"></span>
                    <span class="hf-carousel-frame-br"></span>
                    <!-- Carousel frames end -->
                </div>
                <!-- Carousel Wrap End -->
            </form>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p  id="footer" class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap" style="z-index: 0;">
        <button class="hf-lm-close">
            <a href="../4.html"><img src="/assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="/assets/lib/jquery-3.6.0.min.js"></script>
<script src="/assets/js/script.js?ver=1.1"></script>
<script src="/assets/js/custom.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="/assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
        onAny(eventName, ...args) {
            x(eventName);
        }
    });

    function x(eventName){
        if (eventName == 'activeIndexChange' ) {
            if (swiper.activeIndex == 1) {
                fireEvent('F');
            }
             if (swiper.activeIndex == 2) {
                fireEvent('G');
            }
        }
    }

    function setSentiment (direction) {
        document.getElementById('direction').value = direction;
        console.log(direction)
    }

    function setPrice(price) {
        document.getElementById('price').value = price;
    }

    var sentimentChecked = false;
    var capitalAmountChecked = false;
    var priceChecked = false;

    function enableSentimentChecked(){
        console.log('enableSentimentChecked()');
        sentimentChecked = true;
        enableTrade();
    }

    function disableSentimentChecked(){
        console.log('disableSentimentChecked()');
        sentimentChecked = false;
        disableTrade();
    }

    function enableCapitalAmountChecked(){
        console.log('enableCapitalAmountChecked()');
        capitalAmountChecked = true;
        enableTrade();
    }

    function enablePriceChecked(){
        console.log('enablePriceChecked()');
        priceChecked = true;
        enableTrade();
    }

    function enableTrade(){
        if (sentimentChecked == true & capitalAmountChecked == true & priceChecked == true) {
            console.log('button was enabled');
            document.getElementById('dis-button').removeAttribute("disabled");
            document.getElementById('dis-button').classList.remove("disabled-button");
        }
    }

    function disableTrade(){
            console.log('button was disabled');
            document.getElementById('dis-button').setAttribute("disabled", "disabled");
            document.getElementById('dis-button').classList.add("disabled-button");
    }


</script>

</body>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    function setCapitalPercent (amount) {

        var bidPosSize01 = /*[[${ecStaticDataDaily.bidPosSize01}]]*/ 'default';
        var bidPosSize02 = /*[[${ecStaticDataDaily.bidPosSize02}]]*/ 'default';
        var bidPosSize03 = /*[[${ecStaticDataDaily.bidPosSize03}]]*/ 'default';
        var bidPosSize04 = /*[[${ecStaticDataDaily.bidPosSize04}]]*/ 'default';
        var bidPosSize05 = /*[[${ecStaticDataDaily.bidPosSize05}]]*/ 'default';
        var bidPosSize06 = /*[[${ecStaticDataDaily.bidPosSize06}]]*/ 'default';
        var bidPosSize07 = /*[[${ecStaticDataDaily.bidPosSize07}]]*/ 'default';
        var bidPosSize08 = /*[[${ecStaticDataDaily.bidPosSize08}]]*/ 'default';

        var askPosSize01 = /*[[${ecStaticDataDaily.askPosSize01}]]*/ 'default';
        var askPosSize02 = /*[[${ecStaticDataDaily.askPosSize02}]]*/ 'default';
        var askPosSize03 = /*[[${ecStaticDataDaily.askPosSize03}]]*/ 'default';
        var askPosSize04 = /*[[${ecStaticDataDaily.askPosSize04}]]*/ 'default';
        var askPosSize05 = /*[[${ecStaticDataDaily.askPosSize05}]]*/ 'default';
        var askPosSize06 = /*[[${ecStaticDataDaily.askPosSize06}]]*/ 'default';
        var askPosSize07 = /*[[${ecStaticDataDaily.askPosSize07}]]*/ 'default';
        var askPosSize08 = /*[[${ecStaticDataDaily.askPosSize08}]]*/ 1;

        if (amount == 1) {

                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize01Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize01Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize01Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 2) {
                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize02Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize02Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize02Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 3) {
                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize03Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize03Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize03Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 4) {
                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize04Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize04Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize04Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 5) {
                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize05Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize05Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize05Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 6) {
                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize06Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize06Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize06Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 7) {
                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize07Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize07Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize07Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }
        if (amount == 8) {

                var bidPosSizeFormatted = /*[[${ecStaticDataDaily.bidPosSize08Formatted}]]*/ 'default';
                var askPosSizeFormatted = /*[[${ecStaticDataDaily.askPosSize08Formatted}]]*/ 'default';

                document.getElementById('bidValue').innerText = bidPosSizeFormatted;
                document.getElementById('askValue').innerText = askPosSizeFormatted;

                var posSize = /*[[${ecStaticDataDaily.posSize08Formatted}]]*/ 'default';

                document.getElementById('posSize1').innerText = posSize;
                document.getElementById('posSize2').innerText = posSize;
        }

        var var1 = document.getElementById('mps1').textContent / 100 * amount;
        var str1 = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(var1)
        var res1 = str1.substring(0, str1.length - 5)

        var var2 = document.getElementById('mps2').textContent / 100 * amount;
        var str2 = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(var2)
        var res2 = str2.substring(0, str2.length - 5)

        document.getElementById('capitalPercent').value = amount;
    }
    /*]]>*/
</script>

<script>

    var activeWarningNumber;

    function bgClick(){
        if (activeWarningNumber == 1) {
           hideWarnings();
        }
    }

    function hideWarnings(){
         document.getElementById('bg').setAttribute('hidden', 'hidden');
         document.getElementById('warning1').setAttribute('hidden', 'hidden');
         document.getElementById('warning2').setAttribute('hidden', 'hidden');
    }

    function showWarning1() {
        fireEvent('Y01');
        document.getElementById('bg').style.cursor = "pointer";
         activeWarningNumber = 1;
         document.getElementById('bg').removeAttribute('hidden');
         document.getElementById('warning1').removeAttribute('hidden');
   }

   function showWarning2() {
         fireEvent('Z01');
         document.getElementById('bg').style.cursor = "default";
         activeWarningNumber = 2;
<!--         document.getElementById('main').setAttribute('hidden', 'hidden');-->
<!--         document.getElementById('footer').setAttribute('hidden', 'hidden');-->
         document.getElementById('bg').removeAttribute('hidden');
         document.getElementById('warning2').removeAttribute('hidden');
   }
</script>
</script>

<script>
    window.onload = function() {
        fetch('/end-challenge/event?stage=' + 'E', {
            method: 'POST',
        });
    }
</script>

<script>
    function fireEvent(stage) {
            fetch('/end-challenge/event?stage=' + stage, {
            method: 'POST',
        });
    }
</script>