<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="./assets/css/custom.css?ver=1.1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8FKDQB9FNV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8FKDQB9FNV');
    </script>
</head>
    <body class="hf-bg-solid">
    <div class="hf-wrap">
        <!-- Header Start -->
        <header class="hf-header">
            <div class="hf-logo-wrap">
                <div class="hf-logo">
                    <img src="./assets/images/hyfin-logo.svg" alt="">
                </div>
                <div class="hf-current-screen">
                    <span class="hf-current-screen-title">End Challenge</span>
                </div>
            </div>
            <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="../1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="../faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="../glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="../search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="../account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <!-- Carousel Wrap Start -->
            <div class="hf-carousel-wrap your-account">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="your-account__title-and-capital">
                        <div class="your-account__title">Your Orders</div>
                        <div class="your-account__capital">
                            <span>Available Capital</span>
                            <p>USD 90,000.00</p>
                        </div>
                    </div>
                    <div class="your-account__table">
                        <div class="table__d-flex">
                            <div class="table-item">
                                <div class="table-item__title"><p>Trade ID</p></div>
                                <div class="table-item__content">747482</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>EUR</p></div>
                                <div class="table-item__content">+273,697.66</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>USD</p></div>
                                <div class="table-item__content">-300,000.00</div>
                            </div>
                            <div class="table-item d-none">
                                <div class="table-item__title"><p>GBP</p></div>
                                <div class="table-item__content"></div>
                            </div>
                            <div class="table-item d-none">
                                <div class="table-item__title"><p>JPY</p></div>
                                <div class="table-item__content"></div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Traded Rate</p></div>
                                <div class="table-item__content">1.0961</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Current Mid Rate</p></div>
                                <div class="table-item__content">1.0960</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>P/L USD</p></div>
                                <div class="table-item__content">-27.37</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Allocated Margin USD</p></div>
                                <div class="table-item__content">10,000.00</div>
                            </div>
                        </div>
                        <hr />
                        <div class="table__d-flex">
                            <div class="table-item d-none">
                                <div class="table-item__content"><span>Net Postition</span></div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Net position EUR</p></div>
                                <div class="table-item__content">+273,697.66</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Net position USD</p></div>
                                <div class="table-item__content">-300,000.00</div>
                            </div>
                            <div class="table-item d-none">
                                <div class="table-item__content"></div>
                            </div>
                            <div class="table-item d-none">
                                <div class="table-item__content"></div>
                            </div>
                            <div class="table-item d-none">
                                <div class="table-item__content">1.0960</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>P/L USD</p></div>
                                <div class="table-item__content">-27.37</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__content"></div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="your-account__orders">
                        <div class="orders__title">Orders</div>
                        <div class="table__d-flex">
                            <div class="table-item table-item--type-2">
                                <div class="table-item__title"><p>CCY Pair</p></div>
                                <div class="table-item__content text-left">EUR/USD</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Buy/Sell</p></div>
                                <div class="table-item__content text-left">Sell</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Base Amount</p></div>
                                <div class="table-item__content">-273,697.66</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Term Amount</p></div>
                                <div class="table-item__content">298,330.45</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Order Rate</p></div>
                                <div class="table-item__content">1.0900</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Order Type</p></div>
                                <div class="table-item__content text-left"><span>STOP-LOSS</span></div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title"><p>Status</p></div>
                                <div class="table-item__content text-left">OCO TP</div>
                            </div>
                        </div>
                        <div class="table__d-flex">
                            <div class="table-item table-item--type-2">
                                <div class="table-item__title d-none-desktop"><p>CCY Pair</p></div>
                                <div class="table-item__content text-left">EUR/USD</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Buy/Sell</p></div>
                                <div class="table-item__content text-left">Sell</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Base Amount</p></div>
                                <div class="table-item__content">-273,697.66</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Term Amount</p></div>
                                <div class="table-item__content">305,172.89</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Order Rate</p></div>
                                <div class="table-item__content">1.1150</div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Order Type</p></div>
                                <div class="table-item__content text-left"><span>TAKE-PROFIT</span></div>
                            </div>
                            <div class="table-item">
                                <div class="table-item__title d-none-desktop"><p>Status</p></div>
                                <div class="table-item__content text-left">OCO SL</div>
                            </div>
                        </div>
                    </div>
                    <div class="your-account__action">
                        <a href="/ec-cfd-7b_01"><span>See what the markets did</span></a>
                    </div>
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="../4.html"><img src="./assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
<script src="./assets/js/custom.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="./assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });
</script>
</body>
</html>
