<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="/assets/css/custom.css?ver=1.1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8FKDQB9FNV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8FKDQB9FNV');
    </script>
</head>
    <body class="hf-bg-solid">
    <div id="bg" onclick="hideWarnings()" style="z-index: 1" hidden class="overlay-bg"></div>
    <div hidden id="warning1" class="warning__content warning">
        <div class="warning__icon-and-title">
            <div class="warning__icon"><img src="/assets/images/icon-warning.svg" alt="Icon" /></div>
            <div class="warning__title">WARNING!</div>
        </div>
        <div class="warning__description">
            Your Stop Loss Order is so far away you will lose your margin before it is triggered. You might want to go back and revise it …
        </div>
        <div class="warning__action">
            <a href="/4">Return to the course</a>
            <a href="#" onclick="hideWarnings()">Revise my stop loss</a>
        </div>
    </div>
    <div class="hf-wrap">
        <!-- Header Start -->
        <header class="hf-header">
            <div class="hf-logo-wrap">
                <div class="hf-logo">
                    <img src="/assets/images/hyfin-logo.svg" alt="">
                </div>
                <div class="hf-current-screen">
                    <span class="hf-current-screen-title">End Challenge</span>
                </div>
            </div>
            <div class="hf-main-menu-wrap">
                <ul class="hf-main-menu">
                    <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="../1.html">Courses</a></li>
                    <li class="hf-menu-item hf-menu-item-help"><a href="../faqs.html">FAQs</a></li>
                    <li class="hf-menu-item hf-menu-item-glossary"><a href="../glossary.html">Glossary</a></li>
                </ul>
                <div class="hf-header-icons">
                    <a class="hf-hicon-search" href="../search.html"><img src="/assets/images/icon-search.svg" alt=""></a>
                    <a class="hf-hicon-profile" href="../account.html"><img src="/assets/images/icon-profile.svg" alt=""></a>
                    <div class="hf-hicon-menu">
                        <div class="hf-menu-btn" id="hf-menu-trigger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
    <main class="hf-main" style="z-index: 0;">
        <div class="hf-main-inner">
            <!-- Carousel Wrap Start -->
            <div class="hf-carousel-wrap your-account">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="order-rate">
                        <div class="order-rate__title">Set a Stop Loss Order</div>
                        <div class="order-rate__d-flex">
                            <div class="order-rate__left">
                                <div class="order-rate__item">
                                    <div class="order-rate-item__title">Order Entry</div>
                                    <div class="order-rate-item__content"> <span th:text="${chosenPair.currencyPairFormatted}"></span></div>
                                </div>
                                <div class="order-rate__item">
                                    <div class="order-rate-item__title">Order Type</div>
                                    <div class="order-rate-item__content">Stop Loss</div>
                                </div>
                                <div class="order-rate__item">
                                    <div class="order-rate-item__title">Traded Rate</div>
                                    <div class="order-rate-item__content"><span th:text="${ecStaticDataDaily.ccyPairTradedRate}"></span></div>
                                </div>
                                <div class="order-rate__item">
                                    <div class="order-rate-item__title">Current Mid Rate</div>
                                    <div class="order-rate-item__content"><span th:text="${ecStaticDataDaily.ccyPairMid}"></span></div>
                                </div>
                            </div>
                            <div class="order-rate__right">
                                <div class="order-rate__description">
                                    Select order rate in pips below current spot rate and submit:
                                </div>
                                <div class="row">
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input onclick="fireEvent('I01'); setParam(1); enableButton()" type="radio" name="amount" id="amount25" class="spot-trader__amount-input" />
                                            <label for="amount25">
                                                <div class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable01}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable01Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input onclick="fireEvent('I02'); setParam(2); enableButton()" type="radio" name="amount" id="amount50" class="spot-trader__amount-input" />
                                            <label for="amount50">
                                                <div class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable02}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable02Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input onclick="fireEvent('I03'); setParam(3); enableButton()" type="radio" name="amount" id="amount75" class="spot-trader__amount-input" />
                                            <label for="amount75">
                                                <div class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable03}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable03Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input onclick="fireEvent('I04'); setParam(4); enableButton()" type="radio" name="amount" id="amount100" class="spot-trader__amount-input" />
                                            <label for="amount100">
                                                <div class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable04}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable04Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount125" class="spot-trader__amount-input" />
                                            <label for="amount125">
                                                <div onclick="fireEvent('I05'); showWarning1()" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable05}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable05Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount150" class="spot-trader__amount-input" />
                                            <label for="amount150">
                                                <div onclick="fireEvent('I06'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable06}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable06Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount175" class="spot-trader__amount-input" />
                                            <label for="amount175">
                                                <div onclick="fireEvent('I07'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable07}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable07Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount200" class="spot-trader__amount-input" />
                                            <label for="amount200">
                                                <div onclick="fireEvent('I08'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable08}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable08Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount225" class="spot-trader__amount-input" />
                                            <label for="amount225">
                                                <div onclick="fireEvent('I09'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable09}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable09Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount250" class="spot-trader__amount-input" />
                                            <label for="amount250">
                                                <div onclick="fireEvent('I10'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable10}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable10Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount275" class="spot-trader__amount-input" />
                                            <label for="amount275">
                                                <div onclick="fireEvent('I11'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable11}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable11Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-125 mobile-col-6">
                                        <div class="spot-trader__amount-item">
                                            <input type="radio" name="amount" id="amount300" class="spot-trader__amount-input" />
                                            <label for="amount300">
                                                <div onclick="fireEvent('I12'); showWarning1();" class="spot-trader__amount-label">
                                                    <span th:text="${ecStaticDataDaily.slSizeVariable12}"></span><br>
                                                    (<span th:text="${ecStaticDataDaily.slSizeVariable12Rate}"></span>)
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="your-account__action">
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                        <form style="position: relative;" action="/end-challenge/ec-cfd-6a_01" method="post">
                            <button onclick="fireEvent('I13')" style="margin-top: 30px;" class="hf-button"><span>Skip</span></button>
                        </form>
                        <!--                        <a style="margin-right: 60%" href="/end-challenge/ec-cfd-6a_01"><span>Skip</span></a>-->
<!--                        <button id="dis-button" style="padding: 0px 20px;" disabled type="button" onclick="location.href='/ec-cfd-2'" class="disabled-button hf-button"><span>Submit Order</span></button>-->
                            <form style="position: relative;" action="/end-challenge/ec-cfd-6a_01" method="post">
                            <input hidden="true" name="slOptionNumber" id="slOptionNumber">
                            <button id="dis-button" style="margin-top: 30px;" disabled class="hf-button disabled-button"><span>Trade</span></button>
                        </form>
                        </div>
<!--                        <a id="dis-button" class="disabled-button" href="#"><span>Submit Order</span></a>-->
                    </div>
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2023 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="../4.html"><img src="/assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="/assets/lib/jquery-3.6.0.min.js"></script>
<script src="/assets/js/script.js?ver=1.1"></script>
<!--<script src="/assets/js/custom.js?ver=1.1"></script>-->
<!-- Swiper JS -->
<script src="/assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });

    touched = false;
    upperRowSelected = false;

    function setUpperRowSelectedTrue() {
        touched = true;
        upperRowSelected = true;
    }

    function setUpperRowSelectedFalse() {
        touched = true;
        upperRowSelected = false;
    }

    function setParam(param) {
        document.getElementById('slOptionNumber').value = param;
    }



    function enableButton(){
        console.log('function enableNext()');
        console.log("upperRowSelected");
        console.log(upperRowSelected);
        document.getElementById('dis-button').removeAttribute("disabled");
        document.getElementById('dis-button').classList.remove("disabled-button");
    }

    function hideWarnings(){
         document.getElementById('bg').setAttribute('hidden', 'hidden');
         document.getElementById('warning1').setAttribute('hidden', 'hidden');
    }

    function showWarning1() {
        fireEvent('Y03');
        document.getElementById('bg').style.cursor = "pointer";
         document.getElementById('bg').removeAttribute('hidden');
         document.getElementById('warning1').removeAttribute('hidden');
   }

</script>

    <script>
    window.onload = function() {
        fetch('/end-challenge/event?stage=' + 'I', {
            method: 'POST',
        });
    }
    </script>
</body>
</html>

<script>
    function fireEvent(stage) {
            fetch('/end-challenge/event?stage=' + stage, {
            method: 'POST',
        });
    }
</script>
