<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="./assets/css/custom.css?ver=1.1">


<script>
window.onload = function () {

var dataPoints = [];

var chart = new CanvasJS.Chart("chartContainerEURUSD", {
	animationEnabled: false,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: false,
	//title: {
		//text: "Netflix Stock Price in 2016"
	//},
	//subtitles: [{
		//text: "Weekly Averages"
	//}],
	axisX: {
		interval: 1,
		valueFormatString: "MMM"
	},
	//axisY: {
		//prefix: "$",
		//title: "Price"
	//},
	//toolTip: {
		//content: "Date: {x}<br /><strong>Price:</strong><br />Open: {y[0]}, Close: {y[3]}<br />High: {y[1]}, Low: {y[2]}"
	//},
	data: [{
		type: "candlestick",
		yValueFormatString: "$##0.00",
		dataPoints: dataPoints
	}]
});

$.get("https://canvasjs.com/data/gallery/javascript/netflix-stock-price.csv", getDataPointsFromCSV);

function getDataPointsFromCSV(csv) {
	var csvLines = points = [];
	csvLines = csv.split(/[\r?\n|\r|\n]+/);
	for (var i = 0; i < csvLines.length; i++) {
		if (csvLines[i].length > 0) {
			points = csvLines[i].split(",");
			dataPoints.push({
				x: new Date(
					parseInt(points[0].split("-")[0]),
					parseInt(points[0].split("-")[1]),
					parseInt(points[0].split("-")[2])
				),
				y: [
					parseFloat(points[1]),
					parseFloat(points[2]),
					parseFloat(points[3]),
					parseFloat(points[4])
				]
			});
		}
	}
	chart.render();
}

}
</script>


</head>
<body class="hf-bg-solid">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="./assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">End Challenge</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
            <ul class="hf-main-menu">
                <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="../1.html">Courses</a></li>
                <li class="hf-menu-item hf-menu-item-help"><a href="../faqs.html">FAQs</a></li>
                <li class="hf-menu-item hf-menu-item-glossary"><a href="../glossary.html">Glossary</a></li>
            </ul>
            <div class="hf-header-icons">
                <a class="hf-hicon-search" href="../search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                <a class="hf-hicon-profile" href="../account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                <div class="hf-hicon-menu">
                    <div class="hf-menu-btn" id="hf-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <!-- Carousel Wrap Start -->
            <div class="hf-carousel-wrap trade-currency">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <!-- Carousel Item 2 Start -->
                            <div class="swiper-slide">
                                <div class="trade-currency__content">
                                    <h3 class="trade-currency__title">You have chosen EUR/USD</h3>
                                    <div class="trade-currency__description">You have chosen EUR/USD</div>
                                    <div class="chosen-currency">
                                        <div class="chosen-currency__country">
                                            <div class="country__flag-and-title">
                                                <div class="country__flag"><img src="assets/images/flag-europa.svg" alt="Flag" /></div>
                                                <div class="country__title">Eurozone</div>
                                            </div>
                                            <div class="country__description">
                                                <p>
                                                    Data Release:<br>
                                                    German Inflation Data
                                                </p>
                                                <p>
                                                    Central Bank:<br>
                                                    ECB Chair Lagarde speaking
                                                </p>
                                                <p>
                                                    Macro/Politics:<br>
                                                    Russia lays siege to Kiyv
                                                </p>
                                                <p>
                                                    Current Inflation: <br>
                                                    5.8%
                                                </p>
                                                <p>
                                                    Inflation Trend: <img src="assets/images/icon-top-right.svg" alt="Icon" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chosen-currency__country">
                                            <div class="country__flag-and-title">
                                                <div class="country__flag"><img src="assets/images/flag-usa.svg" alt="Flag" /></div>
                                                <div class="country__title">US</div>
                                            </div>
                                            <div class="country__description">
                                                <p>
                                                    Data Release:<br>
                                                    Retail Sales
                                                </p>
                                                <p>
                                                    Central Bank:<br>
                                                    Fed Chair Powell speaking
                                                </p>
                                                <p>
                                                    Macro/Politics:<br>
                                                    Oil trades over $140 a barrel
                                                </p>
                                                <p>
                                                    Current Inflation:<br>
                                                    7.9%
                                                </p>
                                                <p>
                                                    Inflation Trend: <img src="assets/images/icon-top.svg" alt="Icon" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chosen-currency__chart">
                                            <div class="chart__title">EUR/USD – Spot Chart</div>
                                            <div class="chart__live-graph">
												<div id="chartContainerEURUSD" style="height: 100%; width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 2 End -->
                        </div>
                    </div>
                    <!-- Carousel Navigation and pagination start -->
                    <div class="hf-carousel-control">
<!--                        <button class="hf-carousel-prev hf-button hf-button-left hf-carousel-active"><span>Prev</span></button>-->
                        <form role="form" th:action="@{/ec-cfd-1}" method="GET">
                            <button  class="hf-button hf-button-left  "><span>Prev</span></button>
                        </form>
                        <form role="form" th:action="@{/#}" method="GET">
                            <button  class="hf-button hf-button-right "><span>Next</span></button>
                        </form>
<!--                        <button class="hf-carousel-next hf-button hf-button-right"><span>Next</span></button>-->
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- Carousel Navigation and pagination end -->
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="../4.html"><img src="./assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
<script src="./assets/js/custom.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="./assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });
</script>

<script src="./assets/js/canvasjs.min.js"></script>

</body>
</html>