<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="/assets/css/custom.css?ver=1.1">





</head>
<body class="hf-bg-solid">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="/assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">End Challenge</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
            <ul class="hf-main-menu">
                <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="./1.html">Courses</a></li>
                <li class="hf-menu-item hf-menu-item-help"><a href="./faqs.html">FAQs</a></li>
                <li class="hf-menu-item hf-menu-item-glossary"><a href="./glossary.html">Glossary</a></li>
            </ul>
            <div class="hf-header-icons">
                <a class="hf-hicon-search" href="./search.html"><img src="/assets/images/icon-search.svg" alt=""></a>
                <a class="hf-hicon-profile" href="/account.html"><img src="/assets/images/icon-profile.svg" alt=""></a>
                <div class="hf-hicon-menu">
                    <div class="hf-menu-btn" id="hf-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <!-- Carousel Wrap Start -->
            <div class="hf-carousel-wrap trade-currency">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- Carousel Item 1 Start -->
                            <div class="swiper-slide">
                                <div class="trade-currency__content">
                                    <h3 class="trade-currency__title">What currency pair do you want to trade?</h3>
                                    <div class="trade-currency__description">Choose a pair and select next to continue</div>
                                    <div class="trade-currency__currencies">
                                        <div  class="trade-currency__currency">
                                            <input onclick="fireEvent('C01'); enableNext(); setPair(document.getElementById('pair1'))" type="radio" name="currency" id="currency1" class="currency__input" />
                                            <label for="currency1">
                                                <div class="currency">
                                                    <div class="currency__top">
                                                        <div class="currency__flag"><img th:src="@{${'/assets/images/' + pairs[0].currency1.flagUrl}}" alt="Flag" /></div>
                                                        <div class="currency__flag"><img th:src="@{${'/assets/images/' + pairs[0].currency2.flagUrl}}" alt="Flag" /></div>
                                                        <div class="currency__title-and-value">
                                                            <div id="pair1" class="currency__title" th:text="${pairs[0].currencyPairFormatted}"></div>
                                                            <div class="currency__value">Spot FX Mid Rate: <span th:text="${pairs[0].spotFxMidRate}"></span></div>
                                                        </div>
                                                    </div>
                                                    <div style="height: 150px" class="chart__live-graph">
<!--                                                   oldstyle     currency__graph-->
<!--                                                   newStyle     chart__live-graph-->
                                                        <div id="chartContainer1" style="height: 100%; width: 100%;"></div>
                                                    </div>
                                                    <div class="currency__label">
                                                        <svg width="29.917969px" height="29.917969px" viewBox="0 0 29.917969 29.917969" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                          <g id="Group-3" transform="translate(0.9589844 0.9589844)">
                                                            <path d="M28 14C28 21.7321 21.7321 28 14 28C6.2679 28 0 21.7321 0 14C0 6.2679 6.2679 0 14 0C21.7321 0 28 6.2679 28 14Z" id="Stroke-15-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.9182086" />
                                                            <path d="M20.2763 10.6206L11.9089 18.3447L7.72461 14.4832L11.9089 18.3447L20.2763 10.6206Z" id="Stroke-27-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.7728486" />
                                                          </g>
                                                        </svg>
                                                        <p>Select <span th:text="${pairs[0].currencyPairFormatted}"></span> to trade</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div  class="trade-currency__currency">
                                            <input onclick="fireEvent('C02'); enableNext(); setPair(document.getElementById('pair2'))" type="radio" name="currency" id="currency2" class="currency__input" />
                                            <label for="currency2">
                                                <div class="currency">
                                                    <div class="currency__top">
                                                        <div class="currency__flag"><img th:src="@{${'/assets/images/' + pairs[1].currency1.flagUrl}}" alt="Flag" /></div>
                                                        <div class="currency__flag"><img th:src="@{${'/assets/images/' + pairs[1].currency2.flagUrl}}" alt="Flag" /></div>
                                                        <div class="currency__title-and-value">
                                                            <div id="pair2" class="currency__title" th:text="${pairs[1].currencyPairFormatted}"></div>
                                                            <div class="currency__value">Spot FX Mid Rate: <span th:text="${pairs[1].spotFxMidRate}"></span></div>
                                                        </div>
                                                    </div>
                                                    <div style="height: 150px" class="chart__live-graph">
                                                        <!--                                                   oldstyle     currency__graph-->
                                                        <!--                                                   newStyle     chart__live-graph-->
                                                        <div id="chartContainer2" style="height: 100%; width: 100%;"></div>
                                                    </div>
                                                    <div class="currency__label">
                                                        <svg width="29.917969px" height="29.917969px" viewBox="0 0 29.917969 29.917969" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                          <g id="Group-3" transform="translate(0.9589844 0.9589844)">
                                                            <path d="M28 14C28 21.7321 21.7321 28 14 28C6.2679 28 0 21.7321 0 14C0 6.2679 6.2679 0 14 0C21.7321 0 28 6.2679 28 14Z" id="Stroke-15-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.9182086" />
                                                            <path d="M20.2763 10.6206L11.9089 18.3447L7.72461 14.4832L11.9089 18.3447L20.2763 10.6206Z" id="Stroke-27-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.7728486" />
                                                          </g>
                                                        </svg>
                                                        <p>Select <span th:text="${pairs[1].currencyPairFormatted}"></span> to trade</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div  class="trade-currency__currency disabled_currency">
                                            <input onclick="fireEvent('C03'); disableNext(); setPair(document.getElementById('pair3'))" type="radio" name="currency" id="currency3" class="currency__input" />
                                            <label for="currency3">
                                                <div class="currency">
                                                    <div class="currency__top">
                                                        <div class="currency__flag"><img th:src="@{${'/assets/images/' + pairs[2].currency1.flagUrl}}" alt="Flag" /></div>
                                                        <div class="currency__flag"><img th:src="@{${'/assets/images/' + pairs[2].currency2.flagUrl}}" alt="Flag" /></div>
                                                        <div class="currency__title-and-value">
                                                            <div id="pair3" class="currency__title" th:text="${pairs[2].currencyPairFormatted}"></div>
                                                            <div class="currency__value">Spot FX Mid Rate: <span th:text="${pairs[2].spotFxMidRate}"></span></div>
                                                        </div>
                                                    </div>
                                                    <div style="height: 150px" class="chart__live-graph">
                                                        <!--                                                   oldstyle     currency__graph-->
                                                        <!--                                                   newStyle     chart__live-graph-->
                                                        <div id="chartContainer3" style="height: 100%; width: 100%;"></div>
                                                    </div>
                                                    <div class="currency__label">
                                                        <svg width="29.917969px" height="29.917969px" viewBox="0 0 29.917969 29.917969" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                          <g id="Group-3" transform="translate(0.9589844 0.9589844)">
                                                            <path d="M28 14C28 21.7321 21.7321 28 14 28C6.2679 28 0 21.7321 0 14C0 6.2679 6.2679 0 14 0C21.7321 0 28 6.2679 28 14Z" id="Stroke-15-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.9182086" />
                                                            <path d="M20.2763 10.6206L11.9089 18.3447L7.72461 14.4832L11.9089 18.3447L20.2763 10.6206Z" id="Stroke-27-Copy" fill="none" fill-rule="evenodd" stroke="#B7B7B7" stroke-width="1.7728486" />
                                                          </g>
                                                        </svg>
                                                        <p>Select <span th:text="${pairs[2].currencyPairFormatted}"></span> to trade</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 1 End -->
                        </div>
                    </div>
                    <!-- Carousel Navigation and pagination start -->
                    <div class="hf-carousel-control">
                        <form role="form" id="formId" name="formName"  th:action="@{/end-challenge/chosen-pair}" method="GET">
                            <input hidden="true" name="chosenPair" id="chosenPair">
                            <button id="dis-button" disabled type="submit" onclick="swiper.disable();" class="disabled-button hf-button hf-button-right"><span>Next</span></button>
                        </form>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- Carousel Navigation and pagination end -->
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="/4.html"><img src="/assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="/assets/lib/jquery-3.6.0.min.js"></script>
<script src="/assets/js/script.js?ver=1.1"></script>
<script src="/assets/js/custom.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="/assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });

    function enableNext(){
        console.log('function enableNext()');
        document.getElementById('dis-button').removeAttribute("disabled");
        document.getElementById('dis-button').classList.remove("disabled-button");
    }

    function disableNext(){
        console.log('function disableNext()');
        document.getElementById('dis-button').setAttribute("disabled", "disabled");
        document.getElementById('dis-button').classList.add("disabled-button");
    }
</script>

<script>
    function setPair(pair){
        document.getElementById('chosenPair').value = pair.textContent;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    window.onload = function() {

     fetch('/end-challenge/event?stage=' + 'C', {
            method: 'POST',
        });

    var dataPoints = [];

    fetch('/end-challenge/get-chart-data?pair=' + document.getElementById('pair1').textContent)
        .then(
            function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                response.json().then(function(data) {
                        for (let i in data) {
                            var date = data[i].date.split("-");

                            dataPoints.push({
                                x: new Date(
                                    parseInt(date[0]), //Year
                                    parseInt(date[1]) - 1, // In JS month starts from 0(January)
                                    parseInt(date[2]) // Day
                                ),
                                y: [
                                    data[i].blendOpen,
                                    data[i].blendHigh,
                                    data[i].blendLow,
                                    data[i].blendClose
                                ]
                            });
                        }


                        var options = {
                            series: [{
                                data: dataPoints
                            }],
                            chart: {
                                type: 'candlestick',
                                height: '100%',
                                toolbar: {
                                    show: false
                                }
                            },
                            legend: {
                                show: false
                            },
                            plotOptions: {
                                candlestick: {
                                    colors: {
                                        upward: '#1b1b3c',
                                        downward: '#fe6800'
                                    }
                                }
                            },
                            grid: {
                                show: true,
                                borderColor: '#bdc6d5',
                                xaxis: {
                                    lines: {
                                        show: false,
                                    }
                                },
                                yaxis: {
                                    lines: {
                                        show: true,
                                    }
                                }
                            },
                            annotations2: {

                            },
                            xaxis: {
                                type: 'datetime',
                                axisTicks: {
                                    color: '#bdc6d5'
                                },
                                labels: {
                                    rotate: 0,
                                    rotateAlways: false,
                                    showDuplicates: false,
                                    datetimeFormatter: {
                                        year: 'yyyy',
                                        month: 'MMM \'yy',
                                        day: 'dd MMM',
                                        hour: 'HH:mm'
                                    }
                                }
                            },
                            yaxis: {
                                tooltip: {
                                    enabled: true
                                }
                            }
                        };
                        var chart = new ApexCharts(document.querySelector("#chartContainer1"), options);
                        chart.render();
                    }
                );
            }
        )
        .catch(function(err) {
            console.log('Fetch Error :-S', err);
        });

             var dataPoints2 = [];

    fetch('/end-challenge/get-chart-data?pair=' + document.getElementById('pair2').textContent)
        .then(
            function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                response.json().then(function(data) {
                        for (let i in data) {
                            var date = data[i].date.split("-");

                            dataPoints2.push({
                                x: new Date(
                                    parseInt(date[0]), //Year
                                    parseInt(date[1]) - 1, // In JS month starts from 0(January)
                                    parseInt(date[2]) // Day
                                ),
                                y: [
                                    data[i].blendOpen,
                                    data[i].blendHigh,
                                    data[i].blendLow,
                                    data[i].blendClose
                                ]
                            });
                        }


                        var options2 = {
                            series: [{
                                data: dataPoints2
                            }],
                            chart: {
                                type: 'candlestick',
                                height: '100%',
                                toolbar: {
                                    show: false
                                }
                            },
                            legend: {
                                show: false
                            },
                            plotOptions: {
                                candlestick: {
                                    colors: {
                                        upward: '#1b1b3c',
                                        downward: '#fe6800'
                                    }
                                }
                            },
                            grid: {
                                show: true,
                                borderColor: '#bdc6d5',
                                xaxis: {
                                    lines: {
                                        show: false,
                                    }
                                },
                                yaxis: {
                                    lines: {
                                        show: true,
                                    }
                                }
                            },
                            annotations2: {

                            },
                            xaxis: {
                                type: 'datetime',
                                axisTicks: {
                                    color: '#bdc6d5'
                                },
                                labels: {
                                    rotate: 0,
                                    rotateAlways: false,
                                    showDuplicates: false,
                                    datetimeFormatter: {
                                        year: 'yyyy',
                                        month: 'MMM \'yy',
                                        day: 'dd MMM',
                                        hour: 'HH:mm'
                                    }
                                }
                            },
                            yaxis: {
                                tooltip: {
                                    enabled: true
                                }
                            }
                        };
                        var chart2 = new ApexCharts(document.querySelector("#chartContainer2"), options2);
                        chart2.render();
                    }
                );
            }
        )
        .catch(function(err) {
            console.log('Fetch Error :-S', err);
        });

         var dataPoints3 = [];

    fetch('/end-challenge/get-chart-data?pair=' + document.getElementById('pair3').textContent)
        .then(
            function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                response.json().then(function(data) {
                        for (let i in data) {
                            var date = data[i].date.split("-");

                            dataPoints3.push({
                                x: new Date(
                                    parseInt(date[0]), //Year
                                    parseInt(date[1]) - 1, // In JS month starts from 0(January)
                                    parseInt(date[2]) // Day
                                ),
                                y: [
                                    data[i].blendOpen,
                                    data[i].blendHigh,
                                    data[i].blendLow,
                                    data[i].blendClose
                                ]
                            });
                        }


                        var options3 = {
                            series: [{
                                data: dataPoints3
                            }],
                            chart: {
                                type: 'candlestick',
                                height: '100%',
                                toolbar: {
                                    show: false
                                }
                            },
                            legend: {
                                show: false
                            },
                            plotOptions: {
                                candlestick: {
                                    colors: {
                                        upward: '#1b1b3c',
                                        downward: '#fe6800'
                                    }
                                }
                            },
                            grid: {
                                show: true,
                                borderColor: '#bdc6d5',
                                xaxis: {
                                    lines: {
                                        show: false,
                                    }
                                },
                                yaxis: {
                                    lines: {
                                        show: true,
                                    }
                                }
                            },
                            annotations2: {

                            },
                            xaxis: {
                                type: 'datetime',
                                axisTicks: {
                                    color: '#bdc6d5'
                                },
                                labels: {
                                    rotate: 0,
                                    rotateAlways: false,
                                    showDuplicates: false,
                                    datetimeFormatter: {
                                        year: 'yyyy',
                                        month: 'MMM \'yy',
                                        day: 'dd MMM',
                                        hour: 'HH:mm'
                                    }
                                }
                            },
                            yaxis: {
                                tooltip: {
                                    enabled: true
                                }
                            }
                        };
                        var chart3 = new ApexCharts(document.querySelector("#chartContainer3"), options3);
                        chart3.render();
                    }
                );
            }
        )
        .catch(function(err) {
            console.log('Fetch Error :-S', err);
        });

    }
</script>

<script>
    function fireEvent(stage) {
            fetch('/end-challenge/event?stage=' + stage, {
            method: 'POST',
        });
    }
</script>
</body>
</html>