<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="./assets/css/custom.css?ver=1.1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8FKDQB9FNV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8FKDQB9FNV');
    </script>
</head>
<body class="hf-bg-solid">
<div class="warning">
    <div class="warning__close"><a href="#"><img src="./assets/images/close.svg" alt=""></a></div>
    <div class="warning__content">
        <div class="warning__icon-and-title">
            <div class="warning__icon"><img src="assets/images/icon-warning.svg" alt="Icon" /></div>
            <div class="warning__title">WARNING!</div>
        </div>
        <div class="warning__description">
            Your Stop Loss Order is so far away you will lose your margin before it is triggered. You might want to go back and revise it …
        </div>
        <div class="warning__action">
            <a href="/ec-cfd-6a_01">No, I am happy with it</a>
            <a href="/ec-cfd-6_01">Revise my stop loss</a>
        </div>
    </div>
</div>
</body>
</html>
