<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css"/>
    <!-- Link Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=1.1">
    <link rel="stylesheet" href="/assets/css/custom.css?ver=1.1">




</head>
<body class="hf-bg-solid">
<div class="hf-wrap">
    <!-- Header Start -->
    <header class="hf-header">
        <div class="hf-logo-wrap">
            <div class="hf-logo">
                <img src="/assets/images/hyfin-logo.svg" alt="">
            </div>
            <div class="hf-current-screen">
                <span class="hf-current-screen-title">End Challenge</span>
            </div>
        </div>
        <div class="hf-main-menu-wrap">
            <ul class="hf-main-menu">
                <li class="hf-menu-item hf-menu-item-courses hf-menu-item-current"><a href="../1.html">Courses</a></li>
                <li class="hf-menu-item hf-menu-item-help"><a href="../faqs.html">FAQs</a></li>
                <li class="hf-menu-item hf-menu-item-glossary"><a href="../glossary.html">Glossary</a></li>
            </ul>
            <div class="hf-header-icons">
                <a class="hf-hicon-search" href="../search.html"><img src="/assets/images/icon-search.svg" alt=""></a>
                <a class="hf-hicon-profile" href="../account.html"><img src="/assets/images/icon-profile.svg" alt=""></a>
                <div class="hf-hicon-menu">
                    <div class="hf-menu-btn" id="hf-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <!-- Carousel Wrap Start -->
            <div class="hf-carousel-wrap trade-currency">
                <!-- Carousel Start -->
                <div class="hf-carousel">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <!-- Carousel Item 2 Start -->
                            <div class="swiper-slide">
                                <div class="trade-currency__content">
                                    <h3 class="trade-currency__title">You have chosen <span th:text="${chosenPair.currencyPairFormatted}"></span></h3>
                                    <div class="trade-currency__description">Here is some market relevant information</div>
                                    <div class="chosen-currency">
                                        <div class="chosen-currency__country">
                                            <div class="country__flag-and-title">
                                                <div class="country__flag"><img th:src="@{${'/assets/images/' + chosenPair.currency1.flagUrl}}" alt="Flag" /></div>
                                                <div class="country__title"><span th:text="${chosenPair.currency1.country}"></span></div>
                                            </div>
                                            <div class="country__description">
                                                <p>
                                                    Data Release:<br>
                                                    <span th:text="${chosenPair.currency1.atmospherics.dataRelease}"></span>
                                                </p>
                                                <p>
                                                    Central Bank:<br>
                                                    <span th:text="${chosenPair.currency1.atmospherics.centralBank}"></span>
                                                </p>
                                                <p>
                                                    Macro/Politics:<br>
                                                    <span th:text="${chosenPair.currency1.atmospherics.macroPolitics}"></span>
                                                </p>
                                                <p>
                                                    Current Inflation: <br>
                                                    <span th:text="${chosenPair.currency1.inflationRate.infRate}"></span>
                                                </p>
                                                <p>
                                                    Inflation Trend: <img id="trend1" src="#" alt="Icon" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chosen-currency__country">
                                            <div class="country__flag-and-title">
                                                <div class="country__flag"><img th:src="@{${'/assets/images/' + chosenPair.currency2.flagUrl}}" alt="Flag" /></div>
                                                <div class="country__title"><span th:text="${chosenPair.currency2.country}"></span></div>
                                            </div>
                                            <div class="country__description">
                                                <p>
                                                    Data Release:<br>
                                                    <span th:text="${chosenPair.currency2.atmospherics.dataRelease}"></span>
                                                </p>
                                                <p>
                                                    Central Bank:<br>
                                                    <span th:text="${chosenPair.currency2.atmospherics.centralBank}"></span>
                                                </p>
                                                <p>
                                                    Macro/Politics:<br>
                                                    <span th:text="${chosenPair.currency2.atmospherics.macroPolitics}"></span>
                                                </p>
                                                <p>
                                                    Current Inflation: <br>
                                                    <span th:text="${chosenPair.currency2.inflationRate.infRate}"></span>
                                                </p>
                                                <p>
                                                    Inflation Trend: <img id="trend2" src="#" alt="Icon" />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="chosen-currency__chart">
                                            <div class="chart__title"><span th:text="${chosenPair.currencyPairFormatted}"></span> – Spot Chart</div>
                                            <div class="chart__live-graph">
                                                <div id="chartContainerEURUSD" style="height: 100%; width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel Item 2 End -->
                        </div>
                    </div>
                    <!-- Carousel Navigation and pagination start -->
                    <div class="hf-carousel-control">
<!--                        <button class="hf-carousel-prev hf-button hf-button-left hf-carousel-active"><span>Prev</span></button>-->
                        <form role="form" th:action="@{/end-challenge/ec-cfd-1}" method="GET">
                            <button  class="hf-button hf-button-left  "><span>Prev</span></button>
                        </form>
                        <form role="form" th:action="@{/end-challenge/ec-cfd-3}" method="GET">
                            <button  class="hf-button hf-button-right "><span>Next</span></button>
                        </form>
<!--                        <button class="hf-carousel-next hf-button hf-button-right"><span>Next</span></button>-->
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- Carousel Navigation and pagination end -->
                </div>
                <!-- Carousel End -->
                <!-- Carousel frames start -->
                <span class="hf-carousel-frame-tl"></span>
                <span class="hf-carousel-frame-tr"></span>
                <span class="hf-carousel-frame-bl"></span>
                <span class="hf-carousel-frame-br"></span>
                <!-- Carousel frames end -->
            </div>
            <!-- Carousel Wrap End -->
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-close">
            <a href="../4.html"><img src="/assets/images/close.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="/assets/lib/jquery-3.6.0.min.js"></script>
<script src="/assets/js/script.js?ver=1.1"></script>
<script src="/assets/js/custom.js?ver=1.1"></script>
<!-- Swiper JS -->
<script src="/assets/lib/swiper/swiper-bundle.min.js"></script><!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        autoHeight: true,
        allowTouchMove: false,
        keyboard: {
            enabled: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".hf-carousel-next",
            prevEl: ".hf-carousel-prev",
        },
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>




<script th:inline="javascript">
/*<![CDATA[*/

    window.onload = function() {
    var chosenPair = /*[[${chosenPair}]]*/ 'default';

    console.log('chosenPair');
    console.log(chosenPair);


    console.log(chosenPair.currency1.inflationRate);

    if (chosenPair.currency1.inflationRate.infTrend == 'UP') {
        document.getElementById('trend1').setAttribute('src', '/assets/images/icon-top.svg')
    } else {
        document.getElementById('trend1').setAttribute('src', '/assets/images/icon-top-right.svg')
    }

    if (chosenPair.currency2.inflationRate.infTrend == 'UP') {
        document.getElementById('trend2').setAttribute('src', '/assets/images/icon-top.svg')
    } else {
        document.getElementById('trend2').setAttribute('src', '/assets/images/icon-top-right.svg')
    }


    var dataPoints = [];

    fetch('/end-challenge/get-chart-data?pair=' + chosenPair.currencyPairFormatted)
        .then(
            function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }

                response.json().then(function(data) {
                        for (let i in data) {
                            var date = data[i].date.split("-");

                            dataPoints.push({
                                x: new Date(
                                    parseInt(date[0]), //Year
                                    parseInt(date[1]) - 1, // In JS month starts from 0(January)
                                    parseInt(date[2]) // Day
                                ),
                                y: [
                                    data[i].blendOpen,
                                    data[i].blendHigh,
                                    data[i].blendLow,
                                    data[i].blendClose
                                ]
                            });
                        }


                        var options = {
                            series: [{
                                data: dataPoints
                            }],
                            chart: {
                                type: 'candlestick',
                                height: '100%',
                                toolbar: {
                                    show: false
                                }
                            },
                            legend: {
                                show: false
                            },
                            plotOptions: {
                                candlestick: {
                                    colors: {
                                        upward: '#1b1b3c',
                                        downward: '#fe6800'
                                    }
                                }
                            },
                            grid: {
                                show: true,
                                borderColor: '#bdc6d5',
                                xaxis: {
                                    lines: {
                                        show: false,
                                    }
                                },
                                yaxis: {
                                    lines: {
                                        show: true,
                                    }
                                }
                            },
                            annotations2: {

                            },
                            xaxis: {
                                type: 'datetime',
                                axisTicks: {
                                    color: '#bdc6d5'
                                },
                                labels: {
                                    rotate: 0,
                                    rotateAlways: false,
                                    showDuplicates: false,
                                    datetimeFormatter: {
                                        year: 'yyyy',
                                        month: 'MMM \'yy',
                                        day: 'dd MMM',
                                        hour: 'HH:mm'
                                    }
                                }
                            },
                            yaxis: {
                                tooltip: {
                                    enabled: true
                                }
                            }
                        };
                        var chart = new ApexCharts(document.querySelector("#chartContainerEURUSD"), options);
                        chart.render();
                    }
                );
            }
        )
        .catch(function(err) {
            console.log('Fetch Error :-S', err);
        });

    }
/*]]>*/
</script>

<script src="/assets/js/canvasjs.min.js"></script>

</body>
</html>