<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?ver=1.1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107506931-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-107506931-1');
    </script>
</head>
    <body class="hf-bg-grad">
    <div class="hf-wrap">
        <!-- Header Start -->
        <header class="hf-header">
            <div class="hf-logo-wrap">
                <div class="hf-logo">
                    <img src="./assets/images/hyfin-logo.svg" alt="">
                </div>
            </div>
            <div class="hf-main-menu-wrap">
                    <ul class="hf-main-menu">
                        <li class="hf-menu-item hf-menu-item-courses"><a href="1.html">Courses</a></li>
                        <li class="hf-menu-item hf-menu-item-help hf-menu-item-current"><a href="faqs.html">FAQs</a></li>
                        <li class="hf-menu-item hf-menu-item-glossary"><a href="glossary.html">Glossary</a></li>
                    </ul>
                    <div class="hf-header-icons">
                        <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                        <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                        <div class="hf-hicon-menu">
                            <div class="hf-menu-btn" id="hf-menu-trigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-tp2-content">
                <div class="hf-tp2-characters-wrap">
                    <div class="hf-tp2-characters">
                        <img class="hf-tp2-character-1" src="./assets/images/man-thinking.webp" alt="">
                    </div>
                </div>
                <div class="txtContent hf-tp2-contet-wrap">
                    <h1>FAQs</h1>

                    <h2>How can I get involved?</h2>
                    <p>If you are interested in joining our team, we’d love to hear from you. Please get in contact with your CV or your specific area of interest, either via:<br>
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>

                    <h2>How do I get in contact with you?</h2>
                    <p>Please use either:
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>

                    <h2>How can I leave feedback?</h2>
                    <p>We would be very happy to receive your feedback and have a short survey that can be completed. For a link to this survey, please get in contact, either via:<br>
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>

                    <h2>When will more content be available?</h2>
                    <p>We are constantly developing content in the background aligned to the list of courses shown in the demo application / website. We will be releasing based on area of most interest, so please get in touch if there is a subject matter that you would most like to see. Please get in contact, either via:<br>
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>

                    <h2>How do I put my own content on your Learning Platform?</h2>
                    <p>We have a defined method and approach for “Hyfinating” any 3rd Party content for our Learning Platform. It is a fun process we’d be very happy to talk you through it. Please get in contact via email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , and let’s get the conversation going.


                    <h2>What sort of organisations can use the platform?</h2>
                    <p>Our platform is available for any organisation running a learning and development programme. Please get in contact to find out more, either via:<br>
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>

                    <h2>Do you offer courses directly to individuals as well as organisations?</h2>
                    <p>Yes, we aim to offer courses to individuals in the near future and are working developing this channel. If you are interested in being kept up-to-date on progress or being involved in beta testing, please get in contact, either via:<br>
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>

                    <h2>Do you offer the courses in foreign languages?</h2>
                    <p>Yes, we can offer courses in foreign languages. Please get in contact to discuss your requirements, either via:<br>
                    email: <a href="mailto:info@hyfin.com">info@hyfin.com</a>  , or<br>
                    post: 7 Bell Yard, London, England, WC2A 2JR</p>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-home">
            <a href="1.html"><img src="./assets/images/icon-home.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>