<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?ver=1.1">
</head>
    <body class="hf-bg-grad">
    <div class="hf-wrap">
        <!-- Header Start -->
        <header class="hf-header">
            <div class="hf-logo-wrap">
                <div class="hf-logo">
                    <img src="./assets/images/hyfin-logo.svg" alt="">
                </div>
            </div>
            <div class="hf-main-menu-wrap">
                    <ul class="hf-main-menu">
                        <li class="hf-menu-item hf-menu-item-courses"><a href="1.html">Courses</a></li>
                        <li class="hf-menu-item hf-menu-item-help"><a href="faqs.html">FAQs</a></li>
                        <li class="hf-menu-item hf-menu-item-glossary hf-menu-item-current"><a href="glossary.html">Glossary</a></li>
                    </ul>
                    <div class="hf-header-icons">
                        <a class="hf-hicon-search" href="search.html"><img src="./assets/images/icon-search.svg" alt=""></a>
                        <a class="hf-hicon-profile" href="account.html"><img src="./assets/images/icon-profile.svg" alt=""></a>
                        <div class="hf-hicon-menu">
                            <div class="hf-menu-btn" id="hf-menu-trigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    <!-- Header End -->
    <main class="hf-main">
        <div class="hf-main-inner">
            <div class="hf-tp2-content">
                <div class="hf-tp2-characters-wrap">
                    <div class="hf-tp2-characters">
                        <img class="hf-tp2-character-1" src="./assets/images/asian-lady.webp" alt="">
                    </div>
                </div>
                <div class="txtContent hf-tp2-contet-wrap">
                    <h1>Glossary</h1>
                    <h2>ABS	Asset Backed Security</h2>
                    <p>Where the repayment of a bond is backed by a pool of revenue generating assets - e.g. mortgages, credit cards, car loans etc.</p>

                    <h2>Algo</h2>
                    <p>Algorithmic Trading. Programmatically driven trading not requiring human intervention to execute, now very prevalent across markets.</p>

                    <h2>Ask	The 'Asking' price</h2>
                    <p>The price at which a market maker will sell an asset.  Also known as the 'Offer' price.  The price on the right hand side of a two-way quote.</p>

                    <h2>Asset Manager</h2>
                    <p>Person or institution that manages a portfolio of investments for intermediate to long term steady gains.  Most often will have a predefined investment mandate.</p>

                    <h2>Aussie</h2>
                    <p>A nickname for the Australian Dollar.</p>

                    <h2>Base</h2>
                    <p>The currency against which the alternate currency is priced. For example, when seeing a GBPUSD quote, the GBP is the base currency, quoted in terms of USD.</p>

                    <h2>Bear</h2>
                    <p>Someone who thinks the market is going to move lower.</p>

                    <h2>Bid	The 'Bid' price</h2>
                    <p>The price at which a market maker will buy or 'bid' for an asset. The price on the left hand side of a two-way quote.</p>

                    <h2>Bill & Ben</h2>
                    <p>Nickname for the US Dollar versus Japanese Yen Foreign Exchange rate (Cockney rhyming slang for Yen).</p>

                    <h2>BoE	Bank of England</h2>
                    <p>The Central Bank of the United Kingdom. Sets interest rates through changes to the Base Rate as voted on by the 9 member Monetary Policy Committee.  Also the Lead UK Financial Regulator.</p>

                    <h2>Brent</h2>
                    <p>A grade of crude oil acting as a benchmark for spot and futures markets in Europe. Takes its name from the now depleted Brent oil field in the North Sea.</p>

                    <h2>Broker</h2>
                    <p>Someone who will match a buyer and a seller of a particular asset. They will not take price risk (see Market Maker) but will take a commission for matching the parties.</p>

                    <h2>Bull</h2>
                    <p>Someone who thinks the market is going to move higher.</p>

                    <h2>Bund</h2>
                    <p>Bond issued by the German Government. Seen as the risk-free asset in the Eurozone.</p>

                    <h2>Cable</h2>
                    <p>Nickname for the British Pound versus US Dollar Foreign Exchange rate (GBPUSD). Originated from the first ever exchange rates transmitted via the submarine telegraph cable in 1866.</p>

                    <h2>Call</h2>
                    <p>With respect to options, this is the right to buy an asset (think of calling something towards you).</p>

                    <h2>Carry Trade</h2>
                    <p>Buying a currency with a higher interest rate, and selling a currency with a low interest rate to fund it. The idea being that the interest rate differential will exceed any movement in the FX rate.</p>

                    <h2>Central Bank</h2>
                    <p>The National Bank of a country. Acts as a lender of last resort to other banks within its borders and is in charge of monetary policy - i.e. interest rates.</p>

                    <h2>CFD</h2>
                    <p>Contract For Difference. A way to get exposure to an asset like a stock or a currency pair without actually owning it.</p>

                    <h2>CFD Contract</h2>
                    <p>Contract For Difference. A way to get exposure to an asset like a stock or a currency pair without actually owning it.</p>

                    <h2>Choice price</h2>
                    <p>When a dealer's bid and offer are the same price (so no spread). Usually impolite not to trade.</p>

                    <h2>Collateral</h2>
                    <p>An amount of money that is posted to an exchange or your broker to cover any potential loss on your trading position (see Margin).</p>

                    <h2>Commercial Bank</h2>
                    <p>A bank that serves small medium and large businesses with transactional services such as payments, cash management and loans.</p>

                    <h2>Conversion</h2>
                    <p>A currency conversion can be used to describe when an individual or a company buys a foreign currency with their own currency because they need it - i.e. buying a house abroad, or paying an offshore supplier.</p>

                    <h2>Coupon</h2>
                    <p>The fixed interest rate paid to holders of a bond. When bonds were still physical pieces of paper, the holder would tear off the coupon and redeem it for cash at their bank.</p>

                    <h2>Cover Shorts</h2>
                    <p>Where a trader buys back a position they had previously oversold. For example, 'The market was surprised by the strong UK jobs figures and immediately set about covering shorts in Sterling'.</p>

                    <h2>Covered Bond</h2>
                    <p>The European equivalent of an Asset Backed Security.</p>

                    <h2>Cross-Currency</h2>
                    <p>Refers to a non-standard quote convention. Most currencies are generally quoted as standard against the EUR or the USD. So whilst the CAD and the JPY are both conventionally quoted against the USD, the CADJPY quote is a cross-currency quote.</p>

                    <h2>Currency Mnemonic</h2>
                    <p>The three letter code assigned to a currency as per ISO 4217.</p>

                    <h2>Currency Pair</h2>
                    <p>The quotation of one currency in terms of another. For example EURUSD or GBPUSD.</p>

                    <h2>Currency Swap</h2>
                    <p>One party borrows a fixed amount of currency in exchange for lending a fixed amount of a second currency. Principal amounts are exchanged at the start and end, including the respective interest rates.</p>

                    <h2>Data Release</h2>
                    <p>Releases of economic data tend to follow a schedule and are anticipated by traders as they can influence expectations for price changes.</p>

                    <h2>Dividend</h2>
                    <p>A distribution of profits to shareholders.</p>

                    <h2>Done my Cods</h2>
                    <p>Colloquialism for having been stopped out of a position, but unlike 'Hit my Stops', implies a larger loss.</p>

                    <h2>ECB	European Central Bank</h2>
                    <p>The Central Bank of the Eurozone. Based in Frankfurt, Germany and currently headed by Christine Lagarde.</p>

                    <h2>Exchange</h2>
                    <p>An institution that brings together buyers and sellers of physical goods, and guarantees settlement of contracts. It does this through the collection of  margin and the levying of exchange fees.</p>

                    <h2>Fed Funds Rate</h2>
                    <p>The interest rate that US depositary institutions can borrow reserves from one another on an overnight uncollateralized basis.  This is one of the most important and watched interest rates in trading.</p>

                    <h2>Federal Reserve</h2>
                    <p>The Central Bank of the USA. Sets interest rates through the Fed Funds Rate, voted on by members of the Federal Open Markets Committee (FOMC).</p>

                    <h2>Fill</h2>
                    <p>When an order left with a broker to buy or sell an asset is completed, the order has been 'filled'.</p>

                    <h2>Fiscal Policy</h2>
                    <p>A Nation's taxation policy, having an effect on boosting or restraining economic activity. Implemented by the Government rather than the Central Bank.</p>

                    <h2>Fixed Income</h2>
                    <p>The Bond Market. Catch-all term for government and corporate debt issues in circulation.</p>

                    <h2>FOMC</h2>
                    <p>Federal Open Markets Committee. 12 member committee of the Federal Reserve that meets to set the Fed Funds rate, watched closely by traders.  Meets approximately eight times per annum.</p>

                    <h2>Forward</h2>
                    <p>A forward contract is a customized contract between two parties to buy or sell an asset at a specified price on a future date.</p>

                    <h2>Future</h2>
                    <p>A well defined contract, that trades on an exchange, and allows a buyer and a seller to exchange a specific amount of a good in exchange for money at a fixed date in the future.</p>

                    <h2>FX</h2>
                    <p>Foreign Exchange. The process of exchanging one currency for another.</p>

                    <h2>FX CFD</h2>
                    <p>Foreign Exchange Contract For Difference. A way to get exposure to a currency pair without actually owning it.</p>

                    <h2>FX Forward</h2>
                    <p>An agreement to exchange one currency for another, but at a pre-agreed date in the future.</p>

                    <h2>FX Spot</h2>
                    <p>Most FX trades are what is termed 'Spot Trades' which refers to when the trade settles - i.e. the parties to the trade exchange the respective amount of cash two business days after trading.</p>

                    <h2>Gilt</h2>
                    <p>Nickname for a United Kingdom Government Bond issued by the Her Majesty's Treasury. When physical paper bonds were issued, these were distinctive because of their gilt edges.</p>

                    <h2>Good for Day</h2>
                    <p>An order that expires at the end of the trading day.</p>

                    <h2>Good til Cancelled</h2>
                    <p>An order that expires only when explicitly cancelled by the client.</p>

                    <h2>Hedge Fund</h2>
                    <p>Asset Manager that uses leverage and long/short strategies to boost returns. Generally not accessible to the bulk of Retail investors because of the higher risk profile and high buy-in threshold.</p>

                    <h2>Hedging</h2>
                    <p>The act of mitigating a particular risk. For example, taking out a fixed rate mortgage is a hedge against higher interest rates.</p>

                    <h2>Hit my Stops</h2>
                    <p>Colloquialism for having been stopped out of a position. Normally infers a loss on the position.</p>

                    <h2>Hit the Bid</h2>
                    <p>To sell at the dealer's buying price.</p>

                    <h2>If Done</h2>
                    <p>Within an order, specifics a further action to take place if an existing order is 'filled'.</p>

                    <h2>Institutional Investors</h2>
                    <p>Catch-all term for professional money-managers. These include money-market funds, pension funds, insurance companies, asset managers and hedge funds.</p>

                    <h2>Insurance Company</h2>
                    <p>Significant institutional investors in the markets because of the accumulation of premiums and their need to generate returns to cover claim settlements.</p>

                    <h2>Interest Rate Swap</h2>
                    <p>In its basic form, a contract where one party will pay a fixed rate of interest in return for receiving a floating rate of interest.  Used to hedge interest rate risk. Many different structured versions used in the Corporate world.</p>

                    <h2>Investment Bank</h2>
                    <p>A bank that specialises in advisory services either for clients looking to access capital or to buy other companies.</p>

                    <h2>JGB</h2>
                    <p>Japanese Government Bonds.  Issued by the Japanese Ministry of Finance. Quantitative easing meant that by the middle of 2021, the Bank of Japan owned almost half of all outstanding JGBs.</p>

                    <h2>Kiwi</h2>
                    <p>A nickname for the New Zealand Dollar.</p>

                    <h2>Leverage</h2>
                    <p>The process where an investor can borrow funds to increase their position size. Leverage magnifies both gains and losses.</p>

                    <h2>Limit Order</h2>
                    <p>An order that should only be filled by the broker when a pre-determined price level or limit is reached.</p>

                    <h2>Liquidity</h2>
                    <p>The ability to trade an asset without affecting the follow-on price. Higher volumes tend to indicate deeper (better) liquidity.</p>

                    <h2>Long</h2>
                    <p>Betting on the price rising. To be long an asset - i.e. buy a stock - you are long the stock (and short the cash you spent).</p>

                    <h2>Loonie</h2>
                    <p>A nickname for the Canadian Dollar.</p>

                    <h2>Margin</h2>
                    <p>An amount of money that is posted to an exchange or your broker to cover any potential loss on your trading position (see Collateral).</p>

                    <h2>Market Access</h2>
                    <p>Technological advances have opened up access to financial markets from just corporations and the very wealthy to the wider retail investment community.</p>

                    <h2>Market Convention</h2>
                    <p>Standards around communication and quotation of asset prices.</p>

                    <h2>Market Hours</h2>
                    <p>Different markets have different opening hours. For stocks, this can be related to the Exchange's opening hours, or can be a convention regarding when Market Makers will show prices.</p>

                    <h2>Market Maker</h2>
                    <p>Someone who shows trading prices on an asset and is willing to bear the risk on the price, i.e. it might buy a stock or a bond and not immediately sell it on. Not to be confused with a Broker.</p>

                    <h2>Market Order</h2>
                    <p>And order to transact an asset transaction at the prevailing market price.</p>

                    <h2>Market Participant</h2>
                    <p>Someone who trades an asset in a market (mainly Central Banks, Financial Institutions, Corporations or Retail Investors). Depending upon the asset, Regulators and Exchanges are non-trading participants.</p>

                    <h2>MBS</h2>
                    <p>Mortgage Backed Security. A bond whose repayments come from pooling together mortgages. Part of the class of Asset Backed Securities.</p>

                    <h2>Meme</h2>
                    <p>An image that gets transmitted virally over social media that carries an often amusing message. Plays a part in some stock or cryptocurrency price action - hence the moniker 'Meme Stock'.</p>

                    <h2>Mrs Watanabe</h2>
                    <p>A collective reference to Japanese retail investors. This demographic (Japanese housewives who tend to manage family finances) is watched by professional traders because of their significant market participation.</p>

                    <h2>Monetary Policy</h2>
                    <p>Various tools used by a Nation's Central Bank to influence or change the price of money, in turn seeking to adjust the levels of inflation through influencing the cost of borrowing.</p>

                    <h2>Nokkie</h2>
                    <p>Nickname for the Norwegian Krone.</p>

                    <h2>Non-Deliverable</h2>
                    <p>A financial transaction where instead of delivering or receiving a stock or a currency, a cash equivalent is settled.  Generally used where local laws restrict who can transact in the currency.</p>

                    <h2>OCO</h2>
                    <p>Once Cancels the Other.  When leaving orders to close a position such as a Take Profit and a Stop Loss, these orders should be OCO, so that if one is filled, the other is no longer required.</p>

                    <h2>Offer</h2>
                    <p>The price at which a market maker will sell an asset. Also known as the 'Ask' price. The price on the right hand side of a two-way quote.</p>

                    <h2>Option</h2>
                    <p>A derivative contract that allows the buyer the right (but not the obligation) to exercise rights to buy (or sell) a fixed amount of an asset at a predetermined price.</p>

                    <h2>Order Duration</h2>
                    <p>The amount of time for which an order is valid.</p>

                    <h2>OTC</h2>
                    <p>Over the Counter. Refers to financial contracts individually negotiated between counterparties. Contracts that differ from those available on a futures exchange are referred to as OTC contracts.</p>

                    <h2>Pay the Offer</h2>
                    <p>To buy at the dealer's selling price.</p>

                    <h2>Pip</h2>
                    <p>For most currency pairs, the quotation to the fourth decimal place.</p>

                    <h2>Position</h2>
                    <p>Your committed capital for a specific asset. Your position can be long (you own the asset) or short (you sold the asset without currently owning it) or flat (neither own or sell the asset).</p>

                    <h2>Premium</h2>
                    <p>The payment for an option.</p>

                    <h2>Put</h2>
                    <p>With respect to options, the right to sell.</p>

                    <h2>Refinancing Rate</h2>
                    <p>The key interest rate in the Eurozone, where banks can borrow funds from the European Central Bank.</p>

                    <h2>Retail</h2>
                    <p>Refers to individuals within the universe of market participants. Covers the spectrum of investors from High Net Worth individuals to Joe Public.</p>

                    <h2>Risk Free Rate</h2>
                    <p>In financial terms, the rate for a specific time to maturity for a bond issued by a Government. The premise is that as a last resort, a Government can always print money to redeem the bond.</p>

                    <h2>Risk Management</h2>
                    <p>Understanding the various risks (currency, interest rate, credit etc), and the subsequent development and execution of a strategy to mitigate them. Doing nothing is an acceptance of all of those risks.</p>

                    <h2>Short</h2>
                    <p>Betting on the price falling. To be short an asset - i.e. sell a stock - you still have to deliver it to the person who bought it, so you have to borrow it from somewhere else.</p>

                    <h2>Speculation</h2>
                    <p>The act of buying or selling an asset in the expectation that by selling/buying it back at a later time will generate a positive profit.</p>

                    <h2>Spread</h2>
                    <p>The difference between the dealer's bid and offer. The tighter (narrower) the spread, the better.</p>

                    <h2>SPX</h2>
                    <p>The symbol for the S&P 500 Equity Index futures contract, one of the most observed contracts in the world.</p>

                    <h2>Sterling</h2>
                    <p>Another name for the British Pound. In Anglo Saxon times 240 Sterlings were the equivalent of approximately one troy pound of silver.</p>

                    <h2>Stockie</h2>
                    <p>Nickname for the Swedish Krone.</p>

                    <h2>Stop Loss</h2>
                    <p>An order that cuts or closes a position at a level worse that current market levels. Does not always mean that the position has lost money (see Trailing Stop).</p>

                    <h2>Swap</h2>
                    <p>Broadly used term to describe the financial exchange of one payout for another. See Interest Rate Swap / Currency Swap.</p>

                    <h2>Swissie</h2>
                    <p>Nickname for the Swiss Franc.</p>

                    <h2>Take Profit</h2>
                    <p>An order that locks in a positive return.</p>

                    <h2>Technical Analysis</h2>
                    <p>Studying the price history of an asset to determine imminent market direction and current trader sentiment.</p>

                    <h2>Term</h2>
                    <p>The currency against which the base currency is priced. For example, when seeing a GBPUSD quote, the USD is quoted in terms of the GBP.</p>

                    <h2>The Old Lady</h2>
                    <p>Nickname for the Bank of England from 1797. Originally 'The Old Lady of Threadneedle Street' (where the Bank is located). Derived from a cartoon published at the time by James Gillray.</p>

                    <h2>Trader</h2>
                    <p>Someone who will buy and sell assets for short-term speculative gain. There is a distinction from a broker (who takes no price risk) and an asset manager (who takes risk but has to stick to an investment mandate).</p>

                    <h2>Trading Discipline</h2>
                    <p>A set of procedures and tools around the risk management of capital. Trading discipline will help avoid catastrophic losses which prevent you from trading again.</p>

                    <h2>Trailing Stop</h2>
                    <p>When a position moves 'in the money' (is profitable), a trader may move their Stop Loss level (a Trailing Stop), so as to lock in the profit if the market suddenly reverses.</p>

                    <h2>Trading Strategy</h2>
                    <p>The plans which guide a trader or investors market activity. Can be driven by macro economics, technical analysis, or other systematic approaches.</p>

                    <h2>Treasuries</h2>
                    <p>US Government Bonds.  Issued by the United States Treasury. Generally seen as the safest asset globally.</p>

                    <h2>Two-Way</h2>
                    <p>When a dealer shows a price to buy and sell without knowing what side you intend to trade.</p>

                    <h2>Unch</h2>
                    <p>Trader slang/abbreviation for 'Unchanged' when referring to an economic data release. For example, 'Market was geared up for a decent Payrolls fall but when the number came out unch there was a rush to cover short positions'.</p>

                    <h2>Volatility</h2>
                    <p>Determines how far from its mean does the price of an asset move. There are significant markets in volatility itself, usually accessed through trading Options.</p>

                    <h2>Volume</h2>
                    <p>Traders like to get a sense of market Volume - how much of a particular asset is being traded. They will use this to understand market conviction levels and Liquidity.</p>

                    <h2>WTI</h2>
                    <p>West Texas Intermediate. A 'Light & Sweet' grade of crude oil that acts as a benchmark for oil prices in North American spot and futures markets, deliverable to storage in Cushing, Oklahoma, USA.</p>

                    <h2>Yield Curve</h2>
                    <p>Chart that shows Government bond yields by maturity. A key measure of interest rate and inflation expectations.</p>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer Start -->
    <footer class="hf-footer">
        <div class="hf-footer-inner">
            <p class="hp-copy">Copyright © 2022 Hyfin. All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Left Panel Start -->
    <div class="hf-left-menu-wrap">
        <button class="hf-lm-home">
            <a href="1.html"><img src="./assets/images/icon-home.svg" alt=""></a>
        </button>
    </div>
    <!-- Left Panel End -->
</div>
<script src="./assets/lib/jquery-3.6.0.min.js"></script>
<script src="./assets/js/script.js?ver=1.1"></script>
</body>
</html>