<?php include 'sendMail.php';?>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107506931-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107506931-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <title>Hyfin</title>
  <link href="assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/theme.css?v=4" rel="stylesheet" type="text/css" />
  <!-- For Js Library -->
  <script src="assets/vendor.js?v=4"></script>
  <script src="assets/theme.js?v=4"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <!-- Header -->
  <header class="header js-header">
    <!-- Container -->
    <div class="container">
      <!-- D-flex -->
      <div class="header__d-flex d-flex align-items-center">
        <!-- Logo -->
        <h1 class="header__logo"><img src="assets/images/logo.svg" alt="Logo" /><span class="d-none">Hyfin</span></h1>
        <!-- End logo -->
        <!-- Menu -->
        <ul class="header__menu">
          <li><a href="#" class="active js-go-to-section" data-section=".js-second-section">About</a></li>
          <li><a href="#" class="js-go-to-section" data-section=".third-section">The experience</a></li>
          <li><a href="#" class="js-go-to-section" data-section=".fourth-section">Dynamic learning</a></li>
          <li><a href="#" class="js-go-to-section" data-section=".js-fifth-section">Insightful analytics</a></li>
          <li><a href="#" class="js-go-to-section" data-section=".sixth-section">The Hyfins</a></li>
          <li><a href="#" class="js-go-to-section" data-section=".contact">Contact</a></li>
        </ul>
        <!-- End menu -->
        <!-- Try demo -->
        <div class="header__try-demo"><a href="start.html">Try a demo</a></div>
        <!-- End try demo -->
        <!-- Open mobile menu -->
        <div class="header__open-mobile-menu">
          <a href="#" class="js-open-mobile-menu"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/></svg></a>
        </div>
        <!-- End open mobile menu -->
        <!-- Mobile menu -->
        <div class="header__mobile-menu">
          <!-- D-flex -->
          <div class="mobile-menu__d-flex d-flex">
            <!-- Logo -->
            <h1 class="header__logo"><img src="assets/images/logo.svg" alt="Logo" /><span class="d-none">Hyfin</span></h1>
            <!-- End logo -->
            <!-- Open mobile menu -->
            <div class="header__open-mobile-menu">
              <a href="#" class="js-close-mobile-menu">
                <svg
                   xmlns:dc="http://purl.org/dc/elements/1.1/"
                   xmlns:cc="http://creativecommons.org/ns#"
                   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                   xmlns:svg="http://www.w3.org/2000/svg"
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                   version="1.1"
                   id="svg2"
                   height="25"
                   width="25"
                   sodipodi:docname="close_icon_grey.svg"
                   inkscape:export-filename="D:\Загрузки\close_icon_black2.svg.png"
                   inkscape:export-xdpi="72.959999"
                   inkscape:export-ydpi="72.959999"
                   inkscape:version="0.92.3 (2405546, 2018-03-11)">
                  <sodipodi:namedview
                     pagecolor="#ffffff"
                     bordercolor="#666666"
                     borderopacity="1"
                     objecttolerance="10"
                     gridtolerance="10"
                     guidetolerance="10"
                     inkscape:pageopacity="0"
                     inkscape:pageshadow="2"
                     inkscape:window-width="1366"
                     inkscape:window-height="706"
                     id="namedview3731"
                     showgrid="false"
                     inkscape:zoom="15.245222"
                     inkscape:cx="5.6822049"
                     inkscape:cy="12.495936"
                     inkscape:window-x="-8"
                     inkscape:window-y="-8"
                     inkscape:window-maximized="1"
                     inkscape:current-layer="imagebot_2" />
                  <defs
                     id="defs13" />
                  <metadata
                     id="imagebot_6">image/svg+xml<rdf:RDF>
                  <cc:Work
                     rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                       rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                  </cc:Work>
                </rdf:RDF>
                </metadata>
                  <g
                     transform="translate(3.9661017,3.5677966)"
                     id="imagebot_2"
                     label="Layer 1">
                    <path
                       inkscape:connector-curvature="0"
                       stroke-miterlimit="4"
                       d="M -2.5783352e-4,-0.00146808 17.435473,18.212367"
                       id="imagebot_5"
                       style="opacity:1;fill:#fff;stroke:#fff;stroke-width:3.23161912;stroke-linecap:round;stroke-miterlimit:4;fill-opacity:1;stroke-opacity:1" />
                    <path
                       inkscape:connector-curvature="0"
                       stroke-miterlimit="4"
                       d="M -2.5783352e-4,18.212367 17.435473,-0.00146808"
                       id="imagebot_4"
                       style="opacity:1;fill:#fff;stroke:#fff;stroke-width:3.23161912;stroke-linecap:round;stroke-miterlimit:4;fill-opacity:1;stroke-opacity:1" />
                    <title
                       id="title9">Layer 1</title>
                  </g>
                </svg>
              </a>
            </div>
            <!-- End open mobile menu -->
          </div>
          <!-- End d-flex -->
          <!-- Menu -->
          <ul class="header__menu">
			<li><a href="#" class="js-go-to-section" data-section=".js-second-section">About</a></li>
            <li><a href="#" class="js-go-to-section" data-section=".first-section">The experience</a></li>
            <li><a href="#" class="js-go-to-section" data-section=".fourth-section">Dynamic learning</a></li>
            <li><a href="#" class="js-go-to-section" data-section=".js-fifth-section">Insightful analytics</a></li>
            <li><a href="#" class="js-go-to-section" data-section=".sixth-section">The Hyfins</a></li>
            <li><a href="#" class="js-go-to-section" data-section=".contact">Contact</a></li>
          </ul>
          <!-- End menu -->
          <!-- Try demo -->
          <div class="header__try-demo"><a href="start.html">Try a demo</a></div>
          <!-- End try demo -->
        </div>
        <!-- End mobile menu -->
      </div>
      <!-- End d-flex -->
    </div>
    <!-- End container -->
  </header>
  <!-- End header -->
  <!-- First section -->
  <div class="first-section">
    <!-- Container -->
    <div class="container">
      <!-- Second container -->
      <div class="first-section__container d-flex">
        <!-- Content -->
        <div class="first-section__content d-flex align-items-center">
          <!-- Left -->
          <div class="first-section__left">
            <!-- Title -->
            <h2 class="first-section__title js-first-section-title">Learning/re-imagined</h2>
            <!-- End title -->
            <!-- Description -->
            <div class="first-section__description">
              Hyfin has re-imagined learning. Our platform has been designed specifically for hyper-personalisation to deliver relevant, contextual learning, as and when users need it most, via multiple channels.
            </div>
            <!-- End description -->
          </div>
          <!-- End left -->
          <!-- Right -->
          <div class="first-section__right">
            <!-- Image -->
            <div class="first-section__image">
              <img src="assets/images/demo.webp" alt="Demo graphic" />
              <p>Demo graphic here</p>
              <!-- Button -->
              <div class="first-section__button">
                <a href="start.html">Try a demo</a>
              </div>
              <!-- End button -->
            </div>
            <!-- End image -->
          </div>
          <!-- End right -->
        </div>
        <!-- End content -->
        <!-- Arrow down -->
        <div class="first-section__arrow-down">
          <img src="assets/images/arrow-down.svg" alt="Arrow down" />
        </div>
        <!-- End arrow down -->
      </div>
      <!-- End container -->
    </div>
    <!-- End container -->
  </div>
  <!-- End first section -->
  <!-- Second section -->
  <div class="js-second-section">
    <div class="second-section js-second-section-content">
      <!-- Container -->
      <div class="second-section__container d-flex">
        <!-- Content -->
        <div class="second-section__content">
          <!-- Description -->
          <div class="second-section__description">
            Our modular training delivery platform caters for a wide range of subjects and industries, and is:
          </div>
          <!-- End description -->
          <!-- Items -->
          <div class="second-section__items js-second-section-items d-flex align-items-center">
            <!-- Wrap item -->
            <div class="second-section__wrap-item js-second-section-item">
              <!-- Item -->
              <div class="second-section__item">
                <!-- D-flex -->
                <div class="second-section-item__d-flex d-flex align-items-center">
                  <!-- Image -->
                  <div class="second-section-item__image">
                    <img src="assets/images/section-2-image-2.png" alt="Image" />
                  </div>
                  <!-- End image -->
                  <!-- Right -->
                  <div class="second-section-item__right">
                    <!-- Title -->
                    <h3 class="second-second-item__title js-second-section-item-title">Relevant/and engaging</h3>
                    <!-- End title -->
                    <!-- Description -->
                    <div class="second-section-item__description">
                      Bite-sized, multi-media and game-based to suit all experience levels.
                    </div>
                    <!-- End description -->
                  </div>
                  <!-- End right -->
                </div>
                <!-- End d-flex -->
              </div>
              <!-- End item -->
            </div>
            <!-- End wrap item -->
            <!-- Wrap item -->
            <div class="second-section__wrap-item js-second-section-item">
              <!-- Item -->
              <div class="second-section__item">
                <!-- D-flex -->
                <div class="second-section-item__d-flex d-flex align-items-center">
                  <!-- Image -->
                  <div class="second-section-item__image">
                    <img src="assets/images/section-2-image-1.png" alt="Image" />
                  </div>
                  <!-- End image -->
                  <!-- Right -->
                  <div class="second-section-item__right">
                    <!-- Title -->
                    <h3 class="second-second-item__title js-second-section-item-title">Focussed/and dynamic</h3>
                    <!-- End title -->
                    <!-- Description -->
                    <div class="second-section-item__description">
                      Real-time, specific, personalised and on demand.
                    </div>
                    <!-- End description -->
                  </div>
                  <!-- End right -->
                </div>
                <!-- End d-flex -->
              </div>
              <!-- End item -->
            </div>
            <!-- End wrap item -->
            <!-- Wrap item -->
            <div class="second-section__wrap-item js-second-section-item">
              <!-- Item -->
              <div class="second-section__item">
                <!-- D-flex -->
                <div class="second-section-item__d-flex d-flex align-items-center">
                  <!-- Image -->
                  <div class="second-section-item__image">
                    <img src="assets/images/section-2-image-3.png" alt="Image" />
                  </div>
                  <!-- End image -->
                  <!-- Right -->
                  <div class="second-section-item__right">
                    <!-- Title -->
                    <h3 class="second-second-item__title js-second-section-item-title">Insightful</h3>
                    <!-- End title -->
                    <!-- Description -->
                    <div class="second-section-item__description">
                      Detailed analytics into knowledge retention, behaviours and progress against benchmarks.
                    </div>
                    <!-- End description -->
                  </div>
                  <!-- End right -->
                </div>
                <!-- End d-flex -->
              </div>
              <!-- End item -->
            </div>
            <!-- End wrap item -->
          </div>
          <!-- End items -->
        </div>
        <!-- End content -->
      </div>
      <!-- End container -->
    </div>
  </div>
  <div class="second-section-parallax js-parallax-second-section"></div>
  <!-- End second section -->
  <!-- Third section -->
  <div class="third-section">
    <div id="sect3">
    <!-- Container -->
    <div class="container">
      <!-- D-flex -->
      <div class="third-section__d-flex d-flex position-sticky">
        <!-- Left -->
        <div class="third-section__left sticky-top">
          <!-- Title -->
          <h4 class="third-section-left__title js-third-section-left-title">Relevant and/engaging</h4>
          <!-- End title -->
          <!-- Description -->
          <div class="third-section-left__description">
            Hyfin is modular and uses multi-media elements to make learning more enjoyable.  We want our users to get to the practical application of games more quickly, so they can test their confidence and competence.
          </div>
          <!-- End description -->
        </div>
        <!-- End left -->
        <!-- Right -->
        <div class="third-section__right">
          <!-- Features -->
          <ul class="third-section__features">
            <li class="featured-feature js-third-section-parallax-item">
              <div class="featured-feature__top-left"></div>
              <div class="featured-feature__top-center"></div>
              <div class="featured-feature__top-right"></div>
              <div class="featured-feature__center-left"></div>
              <div class="featured-feature__center-right"></div>
              <p>Improved<br><strong>user experience</strong></p>
              <div class="featured-feature__bottom-left"></div>
              <div class="featured-feature__bottom-center"></div>
              <div class="featured-feature__bottom-right"></div>
            </li>
            <li class="feature feature--first d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-1.svg" alt="Icon" /></div>
              <div class="feature__content">Focused, bite-sized learning segments</div>
            </li>
            <li class="feature feature--second d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-2.svg" alt="Icon" /></div>
              <div class="feature__content">Polymorphic content delivery</div>
            </li>
            <li class="feature feature--third d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-3.svg" alt="Icon" /></div>
              <div class="feature__content">Multi-media delivery via videos, user stories and games</div>
            </li>
            <li class="feature feature--fourth d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-4.svg" alt="Icon" /></div>
              <div class="feature__content">Region, language and brand personalisation</div>
            </li>
            <li class="featured-feature featured-feature--blue js-third-section-parallax-item">
              <div class="featured-feature__top-left"></div>
              <div class="featured-feature__top-center"></div>
              <div class="featured-feature__top-right"></div>
              <div class="featured-feature__center-left"></div>
              <div class="featured-feature__center-right"></div>
              <p>Game-based<br><strong>learning</strong></p>
              <div class="featured-feature__bottom-left"></div>
              <div class="featured-feature__bottom-center"></div>
              <div class="featured-feature__bottom-right"></div>
            </li>
            <li class="feature feature--fifth d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-5.svg" alt="Icon" /></div>
              <div class="feature__content">Certification of understanding</div>
            </li>
            <li class="feature feature--sixth d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-6.svg" alt="Icon" /></div>
              <div class="feature__content">Increased engagement and knowledge retention</div>
            </li>
            <li class="feature feature--seventh d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-7.svg" alt="Icon" /></div>
              <div class="feature__content">Beginner to expert experience variations</div>
            </li>
            <li class="feature feature--eighth d-flex align-items-center js-third-section-parallax-item">
              <div class="feature__icon"><img src="assets/images/section-3-icon-8.svg" alt="Icon" /></div>
              <div class="feature__content">Scenario based challenges</div>
            </li>
          </ul>
          <!-- End features -->
        </div>
        <!-- End right -->
      </div>
      <!-- End d-flex -->
    </div>
    <!-- End container -->
  </div>
  </div>
  <!-- End third section -->
  <!-- Fourth section -->
  <div class="fourth-section">
    <!-- Container -->
    <div class="fourth-section__container">
      <!-- Container -->
      <div class="container">
        <!-- Title -->
        <h4 class="fourth-section__title js-fourth-section-title">Dynamic learning</h4>
        <!-- End title -->
        <!-- Description -->
        <div class="fourth-section__description">
          Hyfin supports both a traditional (linear) and dynamic learning approach. We understand that an individual’s approach to learning varies, so users can progress along the traditional path to complete a single course, or switch between courses based on suggestive learning.
        </div>
        <!-- End description -->
        <!-- D-flex -->
        <div class="fourth-section__d-flex d-flex">
          <!-- Left -->
          <div class="fourth-section__left">
            <!-- Item -->
            <div class="fourth-section__item">
              <!-- Title -->
              <h6 class="fourth-section-item__title">1. No Fixed Start / End Point</h6>
              <!-- End title -->
              <!-- Description -->
              <div class="fourth-section-item__description">
                Users can drop in and out of courses or switch courses / modules at any point, depending on their interest.
              </div>
              <!-- End description -->
            </div>
            <!-- End item -->
            <!-- Item -->
            <div class="fourth-section__item">
              <!-- Title -->
              <h6 class="fourth-section-item__title">2. Suggestive Learning</h6>
              <!-- End title -->
              <!-- Description -->
              <div class="fourth-section-item__description">
                Users are prompted to continue learning with courses / modules that are deemed relevant or highly correlated to their objectives.
              </div>
              <!-- End description -->
            </div>
            <!-- End item -->
            <!-- Item -->
            <div class="fourth-section__item">
              <!-- Title -->
              <h6 class="fourth-section-item__title">3. Quantitative Approach</h6>
              <!-- End title -->
              <!-- Description -->
              <div class="fourth-section-item__description">
                Statistical analysis of historical user Learning Journeys are continually updated to help drive suggestive learning pathways and maintain dynamism.
              </div>
              <!-- End description -->
            </div>
            <!-- End item -->
          </div>
          <!-- End left -->
          <!-- Right -->
          <div class="fourth-section__right">
            <!-- <div class="fourth-section__vimeo">
              <div class="player js-vimeo-video" data-property="{videoURL: 'https://vimeo.com/699018328', containment: '.fourth-section__vimeo', showControls: false, autoPlay:true, loop: true, mute: true, opacity: 1, quality: 'hd720', optimizeDisplay: true}"></div>
            </div> -->
            <div class="vimeo-wrapper">
              <iframe src="https://player.vimeo.com/video/710541597?background=1&autoplay=1&loop=1&byline=0&title=0"
                   frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <!-- End right -->
        </div>
        <!-- End d-flex -->
      </div>
      <!-- End container -->
    </div>
    <!-- End container -->
  </div>
  <!-- End fourth section -->
  <!-- Second section -->
  <div class="js-fifth-section">
    <div class="fifth-section js-fifth-section-content">
      <!-- Background -->
      <div class="fifth-section__background">
        <!-- <div class="player js-vimeo-video" data-property="{videoURL: 'https://vimeo.com/699340684', containment: '.fifth-section__background', showControls: false, autoPlay:true, loop: true, mute: true, opacity: 1, quality: 'hd720', optimizeDisplay: true}"></div> -->
        <div class="vimeo-wrapper">
          <iframe src="https://player.vimeo.com/video/710542862?background=1&autoplay=1&loop=1&byline=0&title=0"
               frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <!-- End bakground -->
      <!-- Container -->
      <div class="fifth-section__container d-flex">
        <!-- Content -->
        <div class="fifth-section__content">
          <!-- Container -->
          <div class="container">
            <!-- Title -->
            <h4 class="fifth-section__title js-fifth-section-title">Insightful/analytics</h4>
            <!-- End title -->
            <!-- Description -->
            <div class="fifth-section__description">
              Hyfin delivers the appropriate and engaging training in real time, when and where users need it most.  We constantly monitor user preference, learning journey routes and course content completion to maintain the highest standards.
            </div>
            <!-- End description -->
            <!-- Items -->
            <div class="fifth-section__items d-flex">
              <!-- Wrap item -->
              <div class="fifth-section__wrap-item fifth-section__wrap-item--featured js-fifth-section-item">
                <!-- Item -->
                <div class="fifth-section__item">
                  Hyfin’s extensive data capture and analysis provides industry leading insight into user performance and understanding, peer comparison and cognitive analytics.
                </div>
                <!-- End item -->
              </div>
              <!-- End wrap item -->
              <!-- Wrap item -->
              <div class="fifth-section__wrap-item js-fifth-section-item">
                <!-- Item -->
                <div class="fifth-section__item">
                  <div class="fifth-section-item__icon">
                    <img src="assets/images/section-5-icon-1.svg" alt="Icon" />
                  </div>
                  Benchmark comparison of Learning Journey pathways to determine individual performance against groupings.
                </div>
                <!-- End item -->
              </div>
              <!-- End wrap item -->
              <!-- Wrap item -->
              <div class="fifth-section__wrap-item js-fifth-section-item">
                <!-- Item -->
                <div class="fifth-section__item">
                  <div class="fifth-section-item__icon">
                    <img src="assets/images/section-5-icon-2.svg" alt="Icon" />
                  </div>
                  Cognitive analysis of user and course performance to identify competence versus confidence scoring.
                </div>
                <!-- End item -->
              </div>
              <!-- End wrap item -->
              <!-- Wrap item -->
              <div class="fifth-section__wrap-item js-fifth-section-item">
                <!-- Item -->
                <div class="fifth-section__item">
                  <div class="fifth-section-item__icon">
                    <img src="assets/images/section-5-icon-3.svg" alt="Icon" />
                  </div>
                  Behavioural analytics to identify optimum timing, channel and method of training delivery.
                </div>
                <!-- End item -->
              </div>
              <!-- End wrap item -->
              <!-- Wrap item -->
              <div class="fifth-section__wrap-item js-fifth-section-item">
                <!-- Item -->
                <div class="fifth-section__item">
                  <div class="fifth-section-item__icon">
                    <img src="assets/images/section-5-icon-4.svg" alt="Icon" />
                  </div>
                  A.I. machine learning to continuously check, enhance and maintain optimum content material.
                </div>
                <!-- End item -->
              </div>
              <!-- End wrap item -->
            </div>
            <!-- End items -->
          </div>
          <!-- End container -->
        </div>
        <!-- End content -->
      </div>
      <!-- End container -->
    </div>
  </div>
  <div class="fifth-section-parallax js-parallax-fifth-section"></div>
  <!-- End fifth section -->
  <!-- Sixth section -->
  <div class="sixth-section">
    <!-- Container -->
    <div class="container">
      <!-- Second container -->
      <div class="sixth-section__container d-flex">
        <!-- Content -->
        <div class="sixth-section__content d-flex align-items-center">
          <!-- Left -->
          <div class="sixth-section__left">
            <!-- Title -->
            <h4 class="sixth-section__title js-sixth-section-title">Meet/the hyfins</h4>
            <!-- End title -->
            <!-- Description -->
            <div class="sixth-section__description">
              At Hyfin, we want learners to go on a journey. Having a guide to help a learner on that journey is important, and that’s why we created “the Hyfins”.  Meet them here and in the course materials.
            </div>
            <!-- End description -->
          </div>
          <!-- End left -->
          <!-- Right -->
          <div class="sixth-section__right">
            <!-- Image -->
            <div class="sixth-section__image">
              <!-- <img src="assets/images/demo-graphic.svg" alt="Demo graphic" /> -->
              <!-- <div class="sixth-section__vimeo">
                <div class="player js-vimeo-video" data-property="{videoURL: 'https://vimeo.com/699018328', containment: '.sixth-section__vimeo', showControls: false, autoPlay:true, loop: true, mute: true, opacity: 1, quality: 'hd720', optimizeDisplay: true}"></div>
              </div> -->
              <div class="vimeo-wrapper">
                <iframe src="https://player.vimeo.com/video/710539660?background=1&autoplay=1&loop=1&byline=0&title=0"
                     frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <!-- End image -->
          </div>
          <!-- End right -->
        </div>
        <!-- End content -->
      </div>
      <!-- End container -->
    </div>
    <!-- End container -->
  </div>
  <!-- End Sixth section -->
  <!-- Contact -->
  <div class="contact">
    <!-- Container -->
    <div class="container">
      <!-- Second container -->
      <div class="contact__container d-flex">
        <!-- Content -->
        <div class="contact__content d-flex">
          <!-- Left -->
          <div class="contact__left">
            <!-- Title -->
            <h4 class="contact__title js-contact-title">Get/in touch</h4>
            <!-- End title -->
            <!-- Description -->
            <div class="contact__description">
              At Hyfin we value your point of view, your feedback and your questions. Get in touch and tell us what we can do to help.
            </div>
            <!-- End description -->
          </div>
          <!-- End left -->
          <!-- Image -->
          <div class="contact__image"><img src="assets/images/contact-hyfin.webp" alt="Contact image" /></div>
          <!-- End image -->
          <!-- Form -->
          <form class="contact__form" id="feedbackform" th:action="@{/feedback}" method="POST">
            <!-- Row -->
            <div class="row">
              <div class="col-12 col-md-6">
                <!-- Form group -->
                <div class="form-group">
                  <input type="text" name="name" class="form-group__input" placeholder="Name*" required>
                </div>
                <!-- End form group -->
              </div>
              <div class="col-12 col-md-6">
                <!-- Form group -->
                <div class="form-group">
                  <input type="email" name="email" class="form-group__input" placeholder="Email*" required>
                </div>
                <!-- End form group -->
              </div>
              <div class="col-12 col-md-6">
                <!-- Form group -->
                <div class="form-group">
                  <input type="text" name="organization" class="form-group__input" placeholder="Organization">
                </div>
                <!-- End form group -->
              </div>
              <div class="col-12 col-md-6">
                <!-- Form group -->
                <div class="form-group">
                  <input type="tel" name="phone" class="form-group__input" placeholder="Telephone">
                </div>
                <!-- End form group -->
              </div>
              <div class="col-12">
                <!-- Form group -->
                <div class="form-group">
                  <textarea name="message" placeholder="Your enquiry…" class="form-group__textarea" rows="6"></textarea>
                </div>
                <!-- End form group -->
              </div>
              <div class="col-12">
                <!-- Action -->
                <div class="form__action">
                  <div class="g-recaptcha" data-sitekey="6LekCdYhAAAAAOstRAOmSFE9xral5y-5hhxJLpQO"></div>
                  <br/>
                  <button type="submit" class="form-button">Submit</button>
                </div>
                <!-- End action -->
              </div>
            </div>
            <!-- End row -->
          </form>
          <!-- End form -->
        </div>
        <!-- End content -->
      </div>
      <!-- End second container -->
    </div>
    <!-- End container -->
  </div>
  <!-- End contact -->
  <!-- Footer -->
  <footer class="footer">
    <!-- Container -->
    <div class="container">
      <!-- D-flex -->
      <div class="footer__d-flex d-flex">
        <!-- Copyright -->
        <div class="footer__copyright">
          <a href="privacy.html">Privacy</a> &nbsp;&nbsp; <a href="terms.html">Terms</a> &nbsp;&nbsp; <a href="cookies.html">Cookies</a><br>
          Copyright © 2022 Hyfin Technologies Ltd. All rights reserved<br>
          Registered Office Address: 7 Bell Yard, London, London, England, WC2A 2JR<br>
          Company no: 09949722
        </div>
        <!-- End copyright -->
        <!-- Social -->
        <ul class="footer__social">
          <li><a href="https://twitter.com/hyfintech" target="_blank"><img src="assets/images/icon-twitter.svg"
                                                                           alt="Icon"/></a></li>
        </ul>
        <!-- End social -->
      </div>
      <!-- End d-flex -->
    </div>
    <!-- End container -->
  </footer>
  <!-- End footer -->
</body>
</html>