<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <title>Hyfin</title>
  <link href="assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/theme.css?v=4" rel="stylesheet" type="text/css" />
  <!-- For Js Library -->
  <script src="assets/vendor.js?v=4"></script>
  <script src="assets/theme.js?v=4"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8FKDQB9FNV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8FKDQB9FNV');
  </script>
</head>
<body>
<!-- Header -->
<header class="header js-header">
  <!-- Container -->
  <div class="container">
    <!-- D-flex -->
    <div class="header__d-flex d-flex align-items-center">
      <!-- Logo -->
      <h1 class="header__logo"><img src="assets/images/logo.svg" alt="Logo" /><span class="d-none">Hyfin</span></h1>
      <!-- End logo -->
      <!-- Menu -->
      <ul class="header__menu">
        <li><a href="index.html">About</a></li>
        <li><a href="index.html">The experience</a></li>
        <li><a href="index.html">Dynamic learning</a></li>
        <li><a href="index.html">Insightful analytics</a></li>
        <li><a href="index.html">The Hyfins</a></li>
        <li><a href="index.html">Contact</a></li>
      </ul>
      <!-- End menu -->
      <!-- Try demo -->
        <div class="header__try-demo"><a href="start">Try a demo</a></div>
      <!-- End try demo -->
      <!-- Open mobile menu -->
      <div class="header__open-mobile-menu">
        <a href="#" class="js-open-mobile-menu"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/></svg></a>
      </div>
      <!-- End open mobile menu -->
      <!-- Mobile menu -->
      <div class="header__mobile-menu">
        <!-- D-flex -->
        <div class="mobile-menu__d-flex d-flex">
          <!-- Logo -->
          <h1 class="header__logo"><img src="assets/images/logo.svg" alt="Logo" /><span class="d-none">Hyfin</span></h1>
          <!-- End logo -->
          <!-- Open mobile menu -->
          <div class="header__open-mobile-menu">
            <a href="#" class="js-close-mobile-menu">
              <svg
                      xmlns:dc="http://purl.org/dc/elements/1.1/"
                      xmlns:cc="http://creativecommons.org/ns#"
                      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                      xmlns:svg="http://www.w3.org/2000/svg"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                      version="1.1"
                      id="svg2"
                      height="25"
                      width="25"
                      sodipodi:docname="close_icon_grey.svg"
                      inkscape:export-filename="D:\Загрузки\close_icon_black2.svg.png"
                      inkscape:export-xdpi="72.959999"
                      inkscape:export-ydpi="72.959999"
                      inkscape:version="0.92.3 (2405546, 2018-03-11)">
                <sodipodi:namedview
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1"
                        objecttolerance="10"
                        gridtolerance="10"
                        guidetolerance="10"
                        inkscape:pageopacity="0"
                        inkscape:pageshadow="2"
                        inkscape:window-width="1366"
                        inkscape:window-height="706"
                        id="namedview3731"
                        showgrid="false"
                        inkscape:zoom="15.245222"
                        inkscape:cx="5.6822049"
                        inkscape:cy="12.495936"
                        inkscape:window-x="-8"
                        inkscape:window-y="-8"
                        inkscape:window-maximized="1"
                        inkscape:current-layer="imagebot_2" />
                <defs
                        id="defs13" />
                <metadata
                        id="imagebot_6">image/svg+xml<rdf:RDF>
                  <cc:Work
                          rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                  </cc:Work>
                </rdf:RDF>
                </metadata>
                <g
                        transform="translate(3.9661017,3.5677966)"
                        id="imagebot_2"
                        label="Layer 1">
                  <path
                          inkscape:connector-curvature="0"
                          stroke-miterlimit="4"
                          d="M -2.5783352e-4,-0.00146808 17.435473,18.212367"
                          id="imagebot_5"
                          style="opacity:1;fill:#fff;stroke:#fff;stroke-width:3.23161912;stroke-linecap:round;stroke-miterlimit:4;fill-opacity:1;stroke-opacity:1" />
                  <path
                          inkscape:connector-curvature="0"
                          stroke-miterlimit="4"
                          d="M -2.5783352e-4,18.212367 17.435473,-0.00146808"
                          id="imagebot_4"
                          style="opacity:1;fill:#fff;stroke:#fff;stroke-width:3.23161912;stroke-linecap:round;stroke-miterlimit:4;fill-opacity:1;stroke-opacity:1" />
                  <title
                          id="title9">Layer 1</title>
                </g>
              </svg>
            </a>
          </div>
          <!-- End open mobile menu -->
        </div>
        <!-- End d-flex -->
        <!-- Menu -->
        <ul class="header__menu">
          <li><a href="index.html" class="js-go-to-section" data-section=".js-second-section">About</a></li>
          <li><a href="index.html">The experience</a></li>
          <li><a href="index.html">Dynamic learning</a></li>
          <li><a href="index.html">Insightful analytics</a></li>
          <li><a href="index.html">The Hyfins</a></li>
          <li><a href="index.html">Contact</a></li>
        </ul>
        <!-- End menu -->
        <!-- Try demo -->
          <div class="header__try-demo"><a href="start">Try a demo</a></div>
        <!-- End try demo -->
      </div>
      <!-- End mobile menu -->
    </div>
    <!-- End d-flex -->
  </div>
  <!-- End container -->
</header>
<!-- End header -->

<div class="subHeader">
  <div class="container">
    <h2>Privacy</h2>
  </div>
</div>
<div class="subContent">
  <div class="container">
    <p>Hyfin Technologies Limited understands that your privacy is important to you and that you care about how your personal data is used. We respect and value the privacy of everyone who visits this website, www.hyfin.com (“Our Site”) and will only collect and use personal data in ways that are described here, and in a way that is consistent with our obligations and your rights under the law.</p>

    <p>Please read this Privacy Policy carefully and ensure that you understand it. Your acceptance of this Privacy Policy is requested at the point at which you create an account to try our demo application.</p>

    <h5>1. DEFINITIONS AND INTERPRETATION</h5>
    <p>In this Policy the following terms shall have the following meanings:</p>

    <b>"Account"</b>
    <p>means an account required to access and/or use certain areas and features of Our Site;</p>
    <b>"Cookie"</b>
    <p>means a small text file placed on your computer or device by Our Site when you visit certain parts of Our Site and/or when you use certain features of Our Site. Details of the Cookies used by Our Site are set out in Part 14, below; and</p>
    <b>"Cookie Law"</b>
    <p>means the relevant parts of the Privacy and Electronic Communications (EC Directive) Regulations 2003.</p>


    <h5>2. INFORMATION ABOUT US</h5>
    <p>Our Site is owned and operated by Hyfin Technologies Limited, a limited company registered in England and Wales under company number 09949722.</p>

    <p>Registered address: 7 Bell Yard, London, England, WC2A 2JR</p>

    <p>VAT number: GB 373 9496 45</p>

    <p>Data Protection Officer: Matthew Jarman</p>

    <p>Email address: <a href="mailto:privacy@hyfin.com">privacy@hyfin.com</a><br>
      Postal address:  7 Bell Yard, London, England, WC2A 2JR, United Kingdom</p>


    <h5>3. WHAT DOES THIS POLICY COVER</h5>
    <p>This Privacy Policy applies only to your use of Our Site. Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them</p>


    <h5>4. WHAT IS PERSONAL DATA</h5>
    <p>Personal data is defined by the UK GDPR and the Data Protection Act 2018 (collectively, “the Data Protection Legislation”) as ‘any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier’.</p>

    <p>Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers, electronic location data, and other online identifiers.</p>


    <h5>5. WHAT ARE MY RIGHTS</h5>

    <p>Under the Data Protection Legislation, you have the following rights, which we will always work to uphold:</p>
    <p>a) The right to be informed about our collection and use of your personal data. This Privacy Policy should tell you everything you need to know, but you can always contact us to find out more or to ask any questions using the details in Part 15.</p>
    <p>b) The right to access the personal data we hold about you. Part 13 will tell you how to do this.</p>
    <p>c)The right to have your personal data rectified if any of your personal data held by us is inaccurate or incomplete. Please contact us using the details in Part 15 to find out more.</p>
    <p>d) The right to be forgotten, i.e. the right to ask us to delete or otherwise dispose of any of your personal data that we hold. Please contact us using the details in Part 15 to find out more.</p>
    <p>e) The right to restrict (i.e. prevent) the processing of your personal data.</p>
    <p>f) The right to object to us using your personal data for a particular purpose or purposes.</p>
    <p>g) The right to withdraw consent. This means that, if we are relying on your consent as the legal basis for using your personal data, you are free to withdraw that consent at any time.</p>
    <p>h) The right to data portability. This means that, if you have provided personal data to us directly, we are using it with your consent or for the performance of a contract, and that data is processed using automated means, you can ask us for a copy of that personal data to re-use with another service or business in many cases.</p>
    <p>i) Rights relating to automated decision-making and profiling.</p>

    <p>For more information about our use of your personal data or exercising your rights as outlined above, please contact us using the details provided in Part 15.</p>
    <p>It is important that your personal data is kept accurate and up-to-date. If any of the personal data we hold about you changes, please keep us informed as long as we have that data.</p>
    <p>Further information about your rights can also be obtained from the Information Commissioner’s Office or your local Citizens Advice Bureau.</p>
    <p>If you have any cause for complaint about our use of your personal data, you have the right to lodge a complaint with the Information Commissioner’s Office.</p>
    <p>We would welcome the opportunity to resolve your concerns ourselves, however, so please contact us first, using the details in Part 15.</p>



    <h5>6. WHAT DATA DO YOU COLLECT AND HOW?</h5>

    <p>Depending upon your use of Our Site, we may collect and hold some or all of the personal and non- personal data set out in the table below, using the methods also set out in the table. Please also see Part 14 for more information about our use of Cookies and similar technologies and our <a href ="cookies.html">Cookie Policy</a>. We do not collect any ‘special category’ or ‘sensitive’ personal data.

    <table>
      <tr>
        <th>Data collected</th>
        <th>How we collect the data</th>
      </tr>
      <tr>
        <td>Identity Information including first name, surname</td>
        <td>On registration / website enquiry</td>
      </tr>
      <tr>
        <td>Contact information including email address, telephone number</td>
        <td>On registration / website enquiry</td>
      </tr>
      <tr>
        <td>Business information including business name</td>
        <td>Website enquiry</td>
      </tr>
      <tr>
        <td>Profile information including preferences, interests, login details, learning history</td>
        <td>On registration / use of learning platform</td>
      </tr>
      <tr>
        <td>Technical information including IP address, browser type and version, operating system</td>
        <td>On access to site</td>
      </tr>
    </table>


    <h5>7. HOW DO YOU USE MY PERSONAL DATA?</h5>

    <p>Under the Data Protection Legislation, we must always have a lawful basis for using personal data. The following table describes how we may use your personal data, and our lawful bases for doing so</p>

    <table>
      <tr>
        <th>What we do</th>
        <th>What data we use</th>
        <th>Our lawful basis</th>
      </tr>
      <tr>
        <td>Registering you on Our Site</td>
        <td>Identity and contact information</td>
        <td>Operating our websites and services</td>
      </tr>
      <tr>
        <td>Providing and managing your Account</td>
        <td>Identity and contact information</td>
        <td>Operating our websites and services</td>
      </tr>
      <tr>
        <td>Providing and managing your access to Our Site</td>
        <td>Identity and security information</td>
        <td>Providing a safe and protected user experience</td>
      </tr>
      <tr>
        <td>Personalising and tailoring your experience on Our Site</td>
        <td>Preference information</td>
        <td>Providing an enjoyable user experience with analysis into improving our products and services</td>
      </tr>
      <tr>
        <td>Administering Our Site</td>
        <td>Learning progress and preference information</td>
        <td>Providing an enjoyable user experience with analysis into improving our products and services/td>
      </tr>
      <tr>
        <td>Supplying our products and services to you</td>
        <td>Learning progress and preference information</td>
        <td>Providing an enjoyable user experience with analysis into improving our products and services</td>
      </tr>
      <tr>
        <td>Personalising and tailoring our products and/or services for you</td>
        <td>Learning preference information</td>
        <td>Providing an enjoyable user experience with analysis into improving our products and services</td>
      </tr>
      <tr>
        <td>Communicating with you</td>
        <td>Contact information</td>
        <td>Undertaking business development activities to grow our business</td>
      </tr>
      <tr>
        <td>Supplying you with information by email that you have opted-in-to (you may opt-out at any time by requesting to unsubscribe</td>
        <td>Contact and preference information</td>
        <td>Undertaking business development activities to grow our business</td>
      </tr>
    </table>

    <p>With your permission and/or where permitted by law, we may also use your personal data for marketing purposes, which may include contacting you by email with information, news, and offers on our products and services. You will not be sent any unlawful marketing or spam. We will always work to fully protect your rights and comply with our obligations under the Data Protection Legislation and the Privacy and Electronic Communications (EC Directive) Regulations 2003, and you will always have the opportunity to opt-out.</p>

    <p>We will only use your personal data for the purpose(s) for which it was originally collected unless [we] OR [I] reasonably believe that another purpose is compatible with that or those original purpose(s) and need to use your personal data for that purpose. If we do use your personal data in this way and you wish us to explain how the new purpose is compatible with the original, please contact us using the details in Part 15.</p>

    <p>If we need to use your personal data for a purpose that is unrelated to, or incompatible with, the purpose(s) for which it was originally collected, we will inform you and explain the legal basis which allows us to do so.</p>

    <p>In some circumstances, where permitted or required by law, we may process your personal data without your knowledge or consent. This will only be done within the bounds of the Data Protection Legislation and your legal rights.</p>

    <h5>8. HOW LONG WILL YOU KEEP MY PERSONAL DATA?</h5>

    <p>We will not keep your personal data for any longer than is necessary in light of the reason(s) for which it was first collected. Your personal data will therefore be kept for the following periods (or, where there is no fixed period, the following factors will be used to determine how long it is kept):</p>

    <table>
      <tr>
        <th>Type of data</th>
        <th>How long we keep it</th>
      </tr>
      <tr>
        <td>Identity Information including name, surname</td>
        <td>Until such times as the user elects to cancel their account and/or opt out of marketing communications</td>
      </tr>
      <tr>
        <td>Contact information including email address, telephone number</td>
        <td>Until such times as the user elects to cancel their account and/or opt out of marketing communications</td>
      </tr>
      <tr>
        <td>Business information including business name</td>
        <td>Until such times as the user elects to cancel their account and/or opt out of marketing communications</td>
      </tr>
      <tr>
        <td>Profile information including preferences, interests, login details, learning history</td>
        <td>Until such times as the user elects to cancel their account , although if the profile information is part of a B2B contract, we will maintain the records as per that client contract</td>
      </tr>
      <tr>
        <td>Technical information including IP address, browser type and version, operating system</td>
        <td>Until such times as the user elects to cancel their account and/or opt out of marketing communications</td>
      </tr>
      <tr>
        <td>Financial information</td>
        <td>We are required by law to keep financial information for 7 years after each transaction, so we will continue to store any financial information you provide to us for 7 years following the last transaction you make with us</td>
      </tr>
    </table>

    <p>To dispose of personal data, we may anonymize it, delete of take other appropriate steps. Data may persist in copies made for backup an business continuity purposes for additional time.</p>

    <h5>9. HOW AND WHERE DO YOU STORE OR TRANSFER MY PERSONAL DATA?</h5>
    <p>We will only store your personal data in the UK. This means that it will be fully protected under the Data Protection Legislation.</p>

    <p>In the event that we may have to store some or all of your personal data in countries outside of the UK (known as “third countries”), we will take additional steps in order to ensure that your personal data is treated just as safely and securely as it would be within the UK and under the Data Protection Legislation as follows:</p>

    <ul>
      <li>limiting access to your personal data to those employees, agents, contractors, and other third parties with a legitimate need to know and ensuring that they are subject to duties of confidentiality;</li>
      <li>procedures for dealing with data breaches (the accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to, your personal data) including notifying you and/or the Information Commissioner’s Office where we are legally required to do so.</li>
    </ul>

    <h5>10. DO YOU SHARE MY PERSONAL DATA?</h5>

    <p>We will not share any of your personal data with any third parties for any purposes, subject to the following exceptions:</p>

    <p>If we sell, transfer, or merge parts of our business or assets, your personal data may be transferred to a third party. Any new owner of our business may continue to use your personal data in the same way(s) that we have used it, as specified in this Privacy Policy.</p>

    <p>In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if we are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority.</p>

    <h5>11. HOW CAN I CONTROL MY PERSONAL DATA?</h5>
    <p>11.1 In addition to your rights under the Data Protection Legislation, set out in Part 5, when you submit personal data via Our Site, you may be given options to restrict our use of your personal data. In particular, we aim to give you strong controls on our use of your data for direct marketing purposes (including the ability to opt-out of receiving emails from us which you may do by unsubscribing using the links provided in our emails.</p>

    <p>You may also wish to sign up to one or more of the preference services operating in the UK: The Telephone Preference Service (“the TPS”), the Corporate Telephone Preference Service (“the CTPS”), and the Mailing Preference Service (“the MPS”). These may help to prevent you receiving unsolicited marketing. Please note, however, that these services will not prevent you from receiving marketing communications that you have consented to receiving.</p>


    <h5>12. CAN I WITHHOLD INFORMATION?</h5>

    <p>You may access certain areas of Our Site without providing any personal data at all. However, to use all features and functions available on Our Site you may be required to submit or allow for the collection of certain data.</p>

    <p>You may restrict our use of Cookies. For more information, see Part 14.</p>

    <h5>13. HOW CAN I ACCESS MY PERSONAL DATA?</h5>

    <p>If you want to know what personal data we have about you, you can ask us for details of that personal data and for a copy of it (where any such personal data is held). This is known as a “subject access request”.</p>

    <p>All subject access requests should be made in writing and sent to the email or postal addresses shown in Part 15. To make this as easy as possible for you, a Subject Access Request Form is available for you to use. Please request the form via email or postal addresses shown in Part 15. You do not have to use this form, but it is the easiest way to tell us everything we need to know to respond to your request as quickly as possible.</p>

    <p>There is not normally any charge for a subject access request. If your request is ‘manifestly unfounded or excessive’ (for example, if you make repetitive requests) a fee may be charged to cover our administrative costs in responding.</p>

    <p>We will respond to your subject access request within 20 business days and, in any case, not more than one month of receiving it. Normally, we aim to provide a complete response, including a copy of your personal data within that time. In some cases, however, particularly if your request is more complex, more time may be required up to a maximum of three months from the date we receive your request. You will be kept fully informed of our progress.</p>

    <h5>14. HOW DO YOU USE COOKIES?</h5>

    <p>Our Site may place and access certain first-party Cookies on your computer or device. First-party Cookies are those placed directly by us and are used only by us. We use Cookies to facilitate and improve your experience of Our Site and to provide and improve our products and services. In addition, Our Site uses analytics services provided by Google Analytics and Lead Forensics, which also use Cookies. Website analytics refers to a set of tools used to collect and analyse usage statistics, enabling us to better understand how people use Our Site. For more details, please refer to our <a href ="cookies.html">Cookie Policy</a>.

    <h5>15. HOW DO I CONTACT YOU?</h5>

    <p>To contact us about anything to do with your personal data and data protection, including to make a subject access request, please use the following details:</p>

    <p>Email address: <a href="mailto:privacy@hyfin.com">privacy@hyfin.com</a><br>
      Postal address:  7 Bell Yard, London, England, WC2A 2JR, United Kingdom</p>

    <h5>16. CHANGES TO THIS PRIVACY POLICY</h5>

    <p>We may change this Privacy Policy from time to time. This may be necessary, for example, if the law changes, or if we change our business in a way that affects personal data protection.</p>

    <p>Any changes will be immediately posted on Our Site and you will be deemed to have accepted the terms of the Privacy Policy on your first use of Our Site following the alterations. We recommend that you check this page regularly to keep up-to-date.</p>

    <p>This Privacy Policy was last updated in May 2022.</p>
  </div>
</div>








<!-- Footer -->
<footer class="footer">
  <!-- Container -->
  <div class="container">
    <!-- D-flex -->
    <div class="footer__d-flex d-flex">
      <!-- Copyright -->
      <div class="footer__copyright">
          <a href="privacy">Privacy</a> &nbsp;&nbsp; <a href="terms">Terms</a> &nbsp;&nbsp;   <a href="cookies">Cookies</a><br>
        Copyright © 2022 Hyfin Technologies Ltd. All rights reserved<br>
        Registered Office Address: 7 Bell Yard, London, London, England, WC2A 2JR<br>
        Company no: 09949722
      </div>
      <!-- End copyright -->
      <!-- Social -->
      <ul class="footer__social">
        <li><a href="https://twitter.com/hyfintech" target="_blank"><img src="assets/images/icon-twitter.svg"
                                                                         alt="Icon"/></a></li>
      </ul>
      <!-- End social -->
    </div>
    <!-- End d-flex -->
  </div>
  <!-- End container -->
</footer>
<!-- End footer -->
</body>
</html>